<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Default Configuration">
          <serializationProvider
            rootPath="$(sourceFolder)\framework\serialization\serialization"
            type="Unicorn.Serialization.Sitecore.Fiat.FiatSitecoreSerializationProvider, Unicorn"
            singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true" >
            <include database="master" path="/sitecore/templates/Habitat"/>
            <include database="master" path="/sitecore/layout/renderings/Habitat"/>
            <include database="master" path="/sitecore/layout/layouts/Habitat"/>
            <include database="master" path="/sitecore/layout/placeholder settings/Habitat"/>
            <include database="master" path="/sitecore/layout/models/Habitat"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
