

blockquote, .blockquote {
  border: none;
  padding: 0;

  &.blockquote-reverse {
    border: none;
  }

  &.blockquote-center {
    text-align: center;
    img {
      display: inline-block;
    }
  }

  header {
    font-size: $font-size-base;

    img + p {
      border-top: 1px solid $gray-light;
      padding-top: 10px;
    }
    p {
      margin-bottom: 0px;
      color: $gray;
      font-style: italic;
      &:last-child {
        margin-bottom: 10px;
      }
      .bg-primary &, .bg-secondary &, .bg-dark &, .bg-media & {
        color: $brand-text-color;
      }
    }
    .label {
      margin-bottom: 0px;
      font-size: $label-inner-font-size;
      font-style: $label-inner-font-style;
      text-transform: $label-inner-text-transform;
      font-weight: $label-inner-font-weight;
      color: $label-inner-color;

      .bg-primary &, .bg-secondary &, .bg-dark &, .bg-media & {
        color: $label-color;
        background-color: transparent !important;
      }

      .bg-white & {
        color: $bg-white-color;
      }

      &:last-child {
        margin-bottom: 10px;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 5px;
  }

  p.lead {
    font-style: $blockquote-lead-font-style;
    font-size: $blockquote-lead-font-size;
    color: $blockquote-lead-color;
    line-height: 1.3;
  }
  footer {
    color: $blockquote-footer-color;
    font-style: $blockquote-footer-font-style;

    .bg-primary &, .bg-secondary &, .bg-dark &, .bg-media & {
      color: $brand-text-color;
    }

    .bg-white & {
      color: $bg-white-color;
    }
  }

  .jumbotron > & {
    text-align: center;
    p {
      font-size: $jumbotron-font-size;
      font-weight: bold;
      font-style: normal;
      .bg-primary &, .bg-secondary &, .bg-dark &, .bg-media & {
        color: $brand-text-color;
      }
      &.lead {
        font-size: $jumbotron-heading-font-size;
      }
    }
  }
}
