@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/forms";

form {

  .form-control {
    background-color: transparent;
    //border: none;
    //padding: 0;
  }

  &.form-signin, &.form-register {
    max-width: 600px;
    margin: 0 auto;

    hr {
      margin: 20px 0;
    }
  }
}



.checkbox {
  label {
    vertical-align: middle;
    //padding-left: 0;
  }
}

input {
  line-height: normal;
  &[type="text"], &[type="password"] {
    &.form-control {
      padding: 0 10px;
    }
  }
  &.form-control {

    &:focus {
      box-shadow: none;
      background-color: #FFF;
    }
  }



  .input-group &[type="text"] {
    padding-left: 10px;
  }

  &[type="checkbox"] {
    border: none;
    margin-top: 0px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 0px;
    height: 15px;
    width: 15px;

    &:checked {
      &:before {
        border-width: 5px;
        background-color: #FFF;
        box-sizing: border-box;
      }
    }
    &:before {
      width: 15px;
      height: 15px;
      display: block;
      position: absolute;
      content: ' ';
      background-color: $gray-light;
      border: 1px solid $text-color;
      top: 0px;
      left: 0;
      visibility: visible;

      .bg-primary &, .bg-secondary &, .bg-dark &, .bg-media & {
        border-color: #000;
      }
    }
  }

  &[type="file"] {
    display: none;
    position: relative;
    width: 120px;
    height: 40px;
    cursor: pointer;

    & + label {
      text-align: center;
      font-weight: bold;
      padding: 8px 16px;
      border: 2px solid $color-secondary-dark;
      transition: all 0.2s ease;
      cursor: pointer;
      position: relative;
      display: inline-block;
      color: $color-secondary-dark;

      .bg-primary &, .bg-secondary &, .bg-dark &, .bg-media & {
        border-color: #FFF;
        color: #FFF;
      }

      .bg-white & {
        border-color: #000;
        color: #000;
      }

      &:after {
        content: "\e022";
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1.3;
        -webkit-font-smoothing: antialiased;
        margin-left: 8px;
        vertical-align: middle;
      }

      &.active {
        background-color: $color-secondary-dark;
        color: #FFF;

        .bg-primary &, .bg-secondary &, .bg-dark &, .bg-media & {
          background-color: #FFF;
          color: #000;
        }

        .bg-white & {
          background-color: #000;
        }

        &:after {
          content: "\e027";
        }
      }

      &:hover {
        background-color: $color-secondary-dark;
        color: #FFF;

        .bg-primary &, .bg-secondary &, .bg-dark &, .bg-media & {
          background-color: #FFF;
          color: #000;
        }

        .bg-white & {
          background-color: #000;
        }
      }
    }
  }
}

label {
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 0;
}

textarea {
  border-width: 1px;
  &.form-control {
    border-width: 1px;
  }
}


.form-control {
  border-width: 0;
  border-bottom-width: 1px;
  background-color: transparent;
  padding: 0;
  height: 42px;
  margin: 0px 0;
  line-height: normal;
  box-shadow: none !important;
  color: $color-secondary-light;
  border-radius: 0;

  .form-inline & {
    padding: 10px;
  }

  .bg-primary &, .bg-secondary &, .bg-dark &, .bg-media & {
    color: #FFF;
    &:focus {
      color: #000;
    }
  }

  .bg-white & {
    color: #000;
  }

  &[readonly] {
    background-color: #eee;
  }

  &:focus, &:active {
    box-shadow: none !important;
    padding-left: 8px;
  }

  .has-success & {
    border-color: $brand-success;
  }

  .has-warning & {
    border-color: $brand-warning;
  }

  .has-error & {
    border-color: $brand-danger;
  }
}

.input-group-addon {

  border-width: 0;

  .has-success & {
    color: $brand-success;
    background-color: lighten($brand-success, 45%);
    border-color: $brand-success;
  }

  .has-warning & {
    color: $brand-warning;
    background-color: lighten($brand-warning, 45%);
    border-color: $brand-warning;
  }

  .has-error & {
    color: $brand-danger;
    background-color: lighten($brand-danger, 45%);
    border-color: $brand-danger;
  }
}

.help-block {
  margin-top: 0px;
  .bg-primary &, .bg-secondary &, .bg-dark &, .bg-media & {
    color: #FFF;
  }

  .bg-white & {
    color: #000;
  }
}

.form-control-feedback, .help-block {

  .has-success & {
    color: $brand-success;
  }
  .has-warning & {
    color: $brand-warning;
  }
  .has-error & {
    color: $brand-danger;
  }
}


select {
  padding: 10px 0;
  &.form-control {
    padding: 10px 0;
  }
  .bg-primary &, .bg-secondary &, .bg-dark &, .bg-media & {
    &:focus {
      background-color: #FFF;
    }
  }
}

textarea {
  padding: 10px;
  &:focus {
    background-color: #FFF;
  }
  &.form-control {
    &:focus {
      background-color: #FFF;
    }
  }
}
