


@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/panels";

.panel {

  &-group {
    margin-bottom: 0;
  }

  &-default {
    .panel-footer {
      color: $color-secondary-lightest;
    }
  }

  &-body, &-heading {
    color: $text-color;
  }

  &-heading {
    &[role="tab"] {
      .panel-title {
        transition: all 0s ease;
        a {
          transition: all 0s ease;
          span {
            transition: all 0s ease;
          }
        }
      }
      &:hover {
        background-color: $color-secondary-dark;
        color: #FFF;
        .bg-dark & {
          background-color: inherit;
          color: inherit;
        }
      }
    }
  }

  & > &-body:first-child {
    padding: 40px;
  }


  &-body {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
    }
  }

  &-footer {
    color: #d5d7dc;
  }

  &-primary {
    .panel-heading {
      color: #FFF;
    }
    &-alt {
      .panel-heading, .panel-body, .panel-footer {
        padding: 20px 0;
      }
      .panel-heading {
        background-color: transparent;
        border-bottom: 2px solid $brand-primary;
        margin-bottom: 10px;
        h1, h2, h3, h4, h5, h6 {
          position: relative;
          padding-bottom: 5px;
        }
      }
      .panel-footer {
        padding: 0;
        background-color: transparent;
        border-top: 2px solid $brand-primary;
      }

    }
  }

  &-hollow {
    background-color: transparent;
    box-shadow: none;
    border: none;
    .panel-heading, .panel-body, .panel-footer {
      padding: 20px 0;
      background-color: transparent;
      color: #FFF;
      border-top: none !important;
      border-bottom: 1px solid $color-secondary-lighter;
    }
    .panel-heading {
      padding: 0;

      .panel-title {
        position: relative;
        &-icon {
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          height: 100%;
          width: 50px;
          &-bar {
            height: 2px;
            width: 10px;
            display: block;
            position: absolute;
            top: 29px;
            right: 20px;
            background-color: #FFF;
            &:first-child {
              height: 10px;
              width: 2px;
              top: 25px;
              right: 24px;
              opacity: 0;
            }
          }
        }

        a[data-toggle="collapse"] {
          padding: 20px 0;
          display: block;
          position: relative;

          &.collapsed {
            .panel-title-icon-bar:first-child {
              opacity: 1;
            }
          }
        }
      }
    }
    .panel-body {
      opacity: 0.4;
    }
  }

  &-thin {
    border: 1px solid #eee;
    .panel-heading, .panel-body, .panel-footer {
      padding: 0;
    }
    .panel-footer {
      padding: 5px 0;
    }
  }

  &.bg-dark, &.bg-primary, &.bg-media {
    .panel-body, .panel-heading {
      color: #FFF;
    }
  }

  &.bg-white {
    .panel-body, .panel-heading {
      color: #000;
    }
  }
}
