@using Sitecore.Feature.News
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@if (!Model?.Item?.IsDerived(Templates.NewsArticle.ID) ?? true)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.NewsArticle.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.Item?.ID, Model.Rendering.Item?.ID)
  return;
}

<div class="container">
  <h1>
    @Html.Sitecore().Field(Templates.NewsArticle.Fields.Title, Model.Item)
    @if (Model.Item.Fields[Templates.NewsArticle.Fields.Summary].HasValue || Sitecore.Context.PageMode.IsExperienceEditor)
    {
      <br />
      <small>
        @Html.Sitecore().Field(Templates.NewsArticle.Fields.Summary, Model.Item)
      </small>
    }
  </h1>
  <p>
    <time>@Html.Sitecore().Field(Templates.NewsArticle.Fields.Date, new { format = "MMMM dd, yyyy" })</time>
  </p>
</div>