<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <mvc.getPageRendering>
        <processor type="Sitecore.Foundation.Assets.Pipelines.GetPageRendering.AddAssets, Sitecore.Foundation.Assets">
          <defaultAssets hint="raw:AddAsset">
            <asset type="Css" file="/stylesheets/niteflight.min.css" />
            <asset type="Css" file="/stylesheets/font-awesome.min.css" />

            <asset type="JavaScript" file="/scripts/jquery.modern.js" location="Head" />
            <asset type="JavaScript" file="/scripts/vendor/modernizr.js" location="Head" />
            <asset type="JavaScript" file="/scripts/vendor.js" location="Body" />
            <asset type="JavaScript" file="/scripts/plugins.js" location="Body" />
            <asset type="JavaScript" file="/scripts/main.js" location="Body" />
          </defaultAssets>
        </processor>
      </mvc.getPageRendering>
    </pipelines>
    <settings>
      <setting name="WebStylesheet" value="/stylesheets/editor.min.css" />
      <setting name="WFM.EnableBootstrapCssRendering" >
        <patch:attribute name="value" value="false" />
      </setting>
    </settings>
  </sitecore>
</configuration>