<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Theming" description="Foundation Theming" dependencies="Foundation.Serialization,Foundation.SitecoreExtensions,Foundation.Assets" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\foundation\theming\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Foundation.Theming.Templates" database="master" path="/sitecore/templates/Foundation/Theming" />
            <include name="Foundation.Theming.Settings" database="master" path="/sitecore/system/settings/Foundation/Theming" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>