<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Kamsar.WebConsole" version="1.2.2.0" targetFramework="net45" />
  <package id="MicroCHAP" version="1.2.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Rainbow" version="1.1.0" targetFramework="net45" />
  <package id="Rainbow.Core" version="1.1.0" targetFramework="net45" />
  <package id="Rainbow.Storage.Sc" version="1.1.0" targetFramework="net45" />
  <package id="Rainbow.Storage.Yaml" version="1.1.0" targetFramework="net45" />
  <package id="Unicorn" version="3.1.2" targetFramework="net45" />
  <package id="Unicorn.Core" version="3.1.2" targetFramework="net45" />
</packages>