<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.PageContent" description="Feature PageContent" dependencies="Foundation.*" extends="Helix.Feature">
            <predicate>
            <include name="Feature.PageContent.Media" database="master" path="/sitecore/media library/Feature/PageContent" />
          </predicate>
            <rolePredicate>
            <include domain="modules" pattern="^Feature PageContent .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>