<div class="row">
    <div class="col-md-6">
        @Html.Sitecore().Placeholder("2column66-left")
    </div>
    <div class="col-md-6">
        @Html.Sitecore().Placeholder("2column66-right")
    </div>
</div>
