<div class="c-content-box c-size-md c-bg-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                @Html.Sitecore().Placeholder("column1")
            </div>
            <div class="col-sm-4">
                @Html.Sitecore().Placeholder("column2")
            </div>
            <div class="col-sm-4 c-card">
                @Html.Sitecore().Placeholder("column3")
            </div>
        </div>
    </div>
</div>
