@using Habitat.Framework.SitecoreExtensions.Extensions
@using Sitecore
@model Sitecore.Mvc.Presentation.RenderingModel
@{ var useStaticPlaceholderNames = MainUtil.GetBool(Model.Rendering.Parameters[Habitat.Website.Constants.LayoutParameters.UseStaticPlaceholderNames], false); }
<div class="container@(MainUtil.GetBool(Model.Rendering.Parameters[Habitat.Website.Constants.LayoutParameters.IsFluid], false) ? "-fluid" : "" )">
  <div class="row">
    <div class="col-sm-3">
      @Html.Sitecore().DynamicPlaceholder("col-narrow-1", useStaticPlaceholderNames)
    </div>
    <div class="col-sm-3">
      @Html.Sitecore().DynamicPlaceholder("col-narrow-2", useStaticPlaceholderNames)
    </div>
    <div class="col-sm-3">
      @Html.Sitecore().DynamicPlaceholder("col-narrow-3", useStaticPlaceholderNames)
    </div>
    <div class="col-sm-3">
      @Html.Sitecore().DynamicPlaceholder("col-narrow-4", useStaticPlaceholderNames)
    </div>
  </div>
</div>