<footer class="c-layout-footer c-layout-footer-6 c-bg-grey-1">
    <div class="container">
        <div class="c-prefooter c-bg-white">
            <div class="c-body">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        @Html.Sitecore().Placeholder("footercolumn1")
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        @Html.Sitecore().Placeholder("footercolumn2")
                    </div>
                    <div class="col-md-3 col-sm-12">
                        @Html.Sitecore().Placeholder("footercolumn3")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-postfooter c-bg-dark-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @Html.Sitecore().Placeholder("postfooter")
                </div>
            </div>
        </div>
    </div>
</footer>
