@using Habitat.Framework.SitecoreExtensions.Extensions
@using Sitecore
@model Sitecore.Mvc.Presentation.RenderingModel
@{ var useStaticPlaceholderNames = MainUtil.GetBool(Model.Rendering.Parameters[Habitat.Website.Constants.LayoutParameters.UseStaticPlaceholderNames], false); }
<div class="row">
  <div class="col-md-6">
    @Html.Sitecore().DynamicPlaceholder("col-wide-1", useStaticPlaceholderNames)
  </div>
  <div class="col-md-6">
    @Html.Sitecore().DynamicPlaceholder("col-wide-2", useStaticPlaceholderNames)
  </div>
</div>