<div class="container">
    <div class="row">
        <div class="col-lg-3">
            @Html.Sitecore().Placeholder("sidebar")
        </div>
        <div class="col-lg-9">
            @Html.Sitecore().Placeholder("sidebarcontent")
        </div>
    </div>
</div>