<div class="container">
    <div class="c-layout-sidebar-menu c-theme">
        @Html.Sitecore().Placeholder("sidebar")
    </div>
    <div class="c-layout-sidebar-content ">
        @Html.Sitecore().Placeholder("sidebarcontent")
    </div>
</div>