
@import "bootstrap/jumbotron";

.jumbotron {

  &.bg-primary, &.bg-dark, &.bg-media {
    h1, h2, h3, h4, h5, h6, p {
      color: #FFF;
    }
  }

  p {
    &.lead {
      font-size: 28px;
    }
  }
  .label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    color: $color-secondary-lighter;
    text-transform: uppercase;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 30px;
  }

  &-heading-center {

    /* Beware - this class only displays correctly in IE9+. IE8 users will NOT get a proper display */
    position: relative;
    h1, h2, h3, h4, h5, h6 {
      position: absolute;
      top: 40%;
      left: 40%;
      .csstransforms & {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &-md {
    padding-top: 70px;
    padding-top: 70px;
  }
  &-lg {
    padding-top: 105px;
    padding-bottom: 105px;
  }
  &-xl {
    padding-top: 140px;
    padding-bottom: 140px;

    h1 {
      font-size: 120px;
      @media all and (max-width: $screen-sm-max) {
        font-size: 40px;
      }
    }

    h2 {
      font-size: 80px;
      @media all and (max-width: $screen-sm-max) {
        font-size: 32px;
      }
    }

    h3 {
      font-size: 60px;
      @media all and (max-width: $screen-sm-max) {
        font-size: 26px;
      }
    }

    p {
      &.lead {
        font-size: 28px;

        @media all and (max-width: $screen-xs-max) {
          font-size: 18px;
        }
      }
    }

    @media all and (max-width: $screen-sm-max) {
      padding: 50px 10px;
    }
  }


  .carousel & {
    margin-bottom: 0;
  }
}
