@using Habitat.Article
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel

@if (Sitecore.Context.PageMode.IsPageEditor)
{
    <div class="pageedit summary">
        <label>Summary:</label>
        <div>
            @Html.Sitecore().Field(Templates.HasSummary.Fields.Summary.ToString())
        </div>
    </div>
}

<div class="article body">
    @Html.Sitecore().Field(Templates.HasBody.Fields.Body.ToString())
</div>