@using Habitat.News
@model Sitecore.Mvc.Presentation.RenderingModel

<div class="news date panel panel-default">
    <div class="panel-body">
        @Html.Sitecore().Field(Templates.NewsArticle.Fields.Date.ToString(), new
        {
            format = "MMMM dd, yyyy"
        })
    </div>
</div>