@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Habitat.News
@model RenderingModel

<div class="news date panel panel-default">
    <div class="panel-body">
        @Html.Sitecore().Field(Templates.NewsArticle.Fields.Date.ToString(), new
{
    format = "MMMM dd, yyyy"
})
    </div>
</div>