<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.exception>
        <processor type="Sitecore.Foundation.Alerts.Pipelines.MvcException.InvalidDatasourceItemExceptionProcessor, Sitecore.Foundation.Alerts" 
                   patch:before="processor[1]" />
      </mvc.exception>
    </pipelines>
  </sitecore>
</configuration>