<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<authenticationProvider type="Unicorn.ControlPanel.Security.ChapAuthenticationProvider, Unicorn">
			    <SharedSecret>749CABBC85EAD20CE55E2C6066F1BE375D2115696C8A8B24DB6ED1FD60613086</SharedSecret>
			</authenticationProvider>
		</unicorn>
	</sitecore>
</configuration>
