<?xml version="1.0"?>
<!--
    Disable the content editor warning for Unicorn
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <getContentEditorWarnings>
                <processor type="Unicorn.UI.Pipelines.GetContentEditorWarnings.SerializedWarning, Unicorn">
                    <patch:delete />
                </processor>
            </getContentEditorWarnings>
        </pipelines>
    </sitecore>
</configuration>