<!--
    ********************************************************************
    Unicorn Helix configurations
   
    Defines standard configurations for modules in all layers
    ********************************************************************
   
    See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <!-- Base configuration for all modules -->
                <configuration name="Helix.Base" abstract="true">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true" />

                    <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true" />
                    <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Roles" singleInstance="true" />
                    <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
                        <!-- Include an invalid predicate or all roles will be synced -->
                        <include domain="invaliddomain" pattern="none" />
                    </rolePredicate>
                </configuration>

                <!-- Foundation modules -->
                <configuration name="Helix.Foundation" abstract="true" extends="Helix.Base">
                    <predicate>
                        <include name="Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
                    </predicate>
                </configuration>

                <!-- Feature modules -->
                <configuration name="Helix.Feature" abstract="true" extends="Helix.Base">
                    <predicate>
                        <include name="Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
                        <include name="Renderings" database="master" path="/sitecore/layout/renderings/$(layer)/$(module)" />
                        <include name="Media" database="master" path="/sitecore/media library/$(layer)/$(module)" />
                    </predicate>
                </configuration>

                <!-- Project modules -->
                <configuration name="Helix.Project" abstract="true" extends="Helix.Base">
                    <predicate>
                        <include name="Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
                        <include name="Renderings" database="master" path="/sitecore/layout/renderings/$(layer)/$(module)" />
                    </predicate>
                </configuration>
                <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="true" updateSearchIndex="true" maxConcurrency="1" />
                <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Users\" singleInstance="true" />
            </configurations>
        </unicorn>
    </sitecore>
</configuration>