<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <processItem>
                <processor type="Sitecore.Foundation.Personalization.Pipelines.ProcessItem.RunRules, Sitecore.Foundation.Personalization"
                           patch:after="processor[@type='Sitecore.ExperienceExplorer.Business.Pipelines.ProcessItem.ProfilesPipeline, Sitecore.ExperienceExplorer.Business']"></processor>
            </processItem>
        </pipelines>
    </sitecore>
</configuration>