<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Foundation.Personalization" description="Foundation.Personalization rules" dependencies="Foundation.Serialization,Foundation.SitecoreExtensions" extends="Helix.Foundation">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Personalization_Analytics_Rules" database="master" path="/sitecore/system/Settings/Analytics/Rules/Process Item" >
                            <exclude templateId="{D9BDF22F-6E17-47F3-AB64-49C717BA92DA}" />
                        </include>
                        <include name="Personalization.Elements" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Profile Card"/>
                        <include name="Personalization.Macro" database="master" path="/sitecore/system/Settings/Rules/Definitions/Macros/ProfileCard"/>
                        <include name="Personalization.Tags" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/Profile Card"/>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
