<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Identity" description="Feature Identity" dependencies="Foundation.*" extends="Helix.Feature">
            <predicate>
            <include name="Feature.Identity.Media" database="master" path="/sitecore/media library/Feature/Identity" />
          </predicate>
            <rolePredicate>
            <include domain="modules" pattern="^Feature Identity .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>