[Oo]bj/
src/**/[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.cache
*.suo
*.userprefs
*DS_Store
*.sln.ide
lib/Sitecore/*
!lib/Sitecore/readme.MD
lib/System/*
!lib/System/readme.MD
.sonar
vars.user.cmd
/.vs
/target
/node_modules