<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  Used to specify the default Sources for list, install and update.
  -->
  <packageSources>
    <add key="Nuget v2" value="https://www.nuget.org/api/v2" />
    <add key="Nuget v3" value="https://api.nuget.org/v3/index.json" />
    <add key="Sitecore v2" value="https://sitecore.myget.org/F/sc-platform-9-1/api/v2" />
    <add key="Sitecore v3" value="https://sitecore.myget.org/F/sc-platform-9-1/api/v3/index.json" />
  </packageSources>

  <activePackageSource>
    <!-- this tells that all of them are active -->
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>
