<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="formsPageUrl" value="/Modules/Foundation/Forms/"/>
    <add key="EndVisitUrl" value="http://habitat.test5ua1.dk.sitecore.net//api/sitecore/Demo/EndVisit/" />
    <add key="baseUrl" value="http://habitat.test5ua1.dk.sitecore.net" />
    <add key="registerUrl" value="/register" />
    <add key="editUserProfileUrl" value="/en/Edit-Profile" />
    <add key="loginPageUrl" value="/login" />
    <add key="testsProxyUrl" value="/tests.proxy.asmx" />
    <add key="utfProxyUrl" value="/HelperWebService.asmx" />
    <add key="forgotPasswordUrl" value="/Login/Forgot-Password/" />
    <add key="endSessionUrl" value="/endSession.aspx" />
    <add key="endVisitUrl" value="/api/sitecore/Demo/EndVisit" />
    <add key="demoSiteUrl" value="http://demo.habitat.test5ua1.dk.sitecore.net/"/>
    <add key="demoSiteCampaignUrl" value="http://habitat.local/?sc_camp={0BFFAF94-F523-452A-9F2A-1FA3292D4647}"/>
    <add key="employeeList" value="/Modules/Feature/Person/Employees-List"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HelperWebServiceSoap" />
        <binding name="AutoTestsHelperServiceSoap" />
        <binding name="AutoTestsHelperServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://habitat.test5ua1.dk.sitecore.net/HelperWebService.asmx" binding="basicHttpBinding" bindingConfiguration="HelperWebServiceSoap" contract="UtfService.HelperWebServiceSoap" name="HelperWebServiceSoap" />
      <endpoint address="http://habitat.test5ua1.dk.sitecore.net/tests.proxy.asmx" binding="basicHttpBinding" bindingConfiguration="AutoTestsHelperServiceSoap" contract="TestHelperService.AutoTestsHelperServiceSoap" name="AutoTestsHelperServiceSoap" />
      <endpoint address="http://habitat.test5ua1.dk.sitecore.net/tests.proxy.asmx" binding="basicHttpBinding" bindingConfiguration="AutoTestsHelperServiceSoap1" contract="TestHelperService.AutoTestsHelperServiceSoap" name="AutoTestsHelperServiceSoap1" />
    </client>
  </system.serviceModel>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="Sitecore.Foundation.Common.Specflow" />
    </stepAssemblies>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="xUnit" /></specFlow></configuration>