<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="baseUrl" value="http://habitat.test5ua1.dk.sitecore.net/" />
    <add key="registerUrl" value="http://habitat.test5ua1.dk.sitecore.net/register"/>
    <add key="editUserProfileUrl" value=""/>
    <add key="loginPageUrl" value=""/>
    <add key="contactUsPageUrl" value=""/>
  </appSettings>


  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="xUnit" />
  </specFlow>
</configuration>