<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="baseUrl" value="http://habitat.test5ua1.dk.sitecore.net/" />
    <add key="registerUrl" value="http://habitat.test5ua1.dk.sitecore.net/register"/>
    <add key="editUserProfileUrl" value=""/>
    <add key="loginPageUrl" value=""/>
    <add key="contactUsPageUrl" value=""/>
    <add key="testsProxyUrl" value="tests.proxy.asmx"/>
    
  </appSettings>



  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup><specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="xUnit" />
  </specFlow>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AutoTestsHelperServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://habitat.test5ua1.dk.sitecore.net/tests.proxy.asmx"
        binding="basicHttpBinding" bindingConfiguration="AutoTestsHelperServiceSoap"
        contract="TestHelperService.AutoTestsHelperServiceSoap" name="AutoTestsHelperServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>