<!--

Purpose: This config disables caching of analtyics dashboard information, and allows data to be shown "instantly" in Sitecore Experience Analytics.
There might be a performance hit when viewing analytics data, as every request has to retrieve data and generate the visual graphs.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" >
  <sitecore>
    <reporting>
      <dataProvider>
        <!-- enabling reporting cache -->
        <patch:attribute name="cacheEnabled" >false</patch:attribute>
      </dataProvider>
    </reporting>
  </sitecore>
</configuration>