<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Habitat.PageContent" description="Habitat PageContent"
                       patch:after="configuration[@name='Habitat.Framework.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\domain\pagecontent\serialization"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Habitat.PageContent.Templates" database="master"
                     path="/sitecore/templates/Habitat/Domain/PageContent" />
            <include name="Habitat.PageContent.Renderings" database="master"
                     path="/sitecore/layout/renderings/Habitat/Domain/PageContent" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>