<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    
    <sitecore>
        <settings>
            <setting name="LicenseFile" value=".\..\..\..\..\..\..\lib\license.xml" />
            <setting name="MailServer" value="localhost" />
        </settings>
        <databases>
            <database id="core">
                <patch:attribute name="type">Sitecore.Data.DefaultDatabase, Sitecore.Kernel</patch:attribute>
            </database>
            <database id="master">
                <patch:attribute name="type">Sitecore.Data.DefaultDatabase, Sitecore.Kernel</patch:attribute>
            </database>
            <database id="web">
                <patch:attribute name="type">Sitecore.Data.DefaultDatabase, Sitecore.Kernel</patch:attribute>
            </database>
        </databases>
        <!-- EVENTING -->
        <eventing defaultProvider="sitecore">
            <providers>
                <clear />
                <add name="sitecore" type="Sitecore.Eventing.EventProvider, Sitecore.Kernel" systemDatabaseName="core" />
            </providers>
        </eventing>
    </sitecore>
</configuration>