<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<synthesis>
			<providers>
				<!--  TYPE LIST PROVIDER
					Provides a set of types that should be considered when looking for template types to synchronize or initialize
				
					In other words, this provider should return all types in the assemblies that Synthesis' generated content
					lives in. It is appropriate for the provider to maintain an instance cache of these types as it will be invoked several times during initialization.
					
					IMPORTANT: You may use any element name to declare each assembly,
					but you can't use the same element name more than once.
				-->
				<typeListProvider type="Synthesis.Configuration.ConfigurationTypeListProvider, Synthesis">
					<assemblies hint="list:AddAssembly">
						<foundation>Sitecore.Foundation.*</foundation>
						<feature>Sitecore.Feature.*</feature>
						<project>Sitecore.*.Website</project>
					</assemblies>
				</typeListProvider>
			</providers>
		</synthesis>

		<settings>
			<!--
				MODEL OUTPUT BASE PATH
				
				This setting allows you to specify a global base path which all configurations' model paths will use as a base path.
				A common usage of this setting would be for out of webroot development where you want to specify the source solution path
				as a base and the relative path within the solution as the model path.
				
				It it also possible to directly specify the base paths, however a setting can accept sc.variable values (e.g. $(sourcePath) for Habitat, $(dataFolder))
				whereas the model path cannot (Sitecore does not expand variable values in XML content, only attributes).
				
				If this value is blank, it is ignored. Otherwise it is prefixed to the ModelOutputPath (e.g. this = c:\foo\, ModelOutputPath = src\Bar\Model.cs, resulting path = c:\foo\src\Bar\Model.cs)
				
				Note that the path is directly prepended so you will need a trailing slash here, or a leading slash in the model path, to ensure a validly formatted path
			-->
			<setting name="Synthesis.ModelOutputBasePath" value="$(sourceFolder)\" />
		</settings>

		<pipelines>
			<initialize>
				<!-- Get rid of Synthesis default configuration -->
				<processor type="Synthesis.Pipelines.Initialize.SynthesisConfigRegistrar, Synthesis">
					<patch:delete />
				</processor>
				
				<!-- IMPORTANT: Each registrar instance must have a unique hint value for the patch to work correctly. -->
				<processor type="Synthesis.Pipelines.Initialize.SynthesisConfigRegistrar, Synthesis" hint="Habitat">
					<assemblies hint="list:AddAssembly">
						<foundation>Sitecore.Foundation.*</foundation>
						<feature>Sitecore.Feature.*</feature>
						<project>Sitecore.*.Website</project>
					</assemblies>
				</processor>
			</initialize>
		</pipelines>
	</sitecore>
</configuration>