<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <domainManager>
      <domains>
        <domain id="habitat" type="Sitecore.Security.Domains.Domain, Sitecore.Kernel">
          <param desc="name">$(id)</param>
          <ensureAnonymousUser>false</ensureAnonymousUser>
        </domain>
      </domains>
    </domainManager>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site hint="habitat">habitat</site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site hint="habitat">habitat</site>
          </sites>
        </handler>
      </event>
    </events>
    <sites>
      <site name="habitat" patch:before="site[@name='scheduler']" hostName="habitat.$(rootHostName)" database="web" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content/habitat" startItem="/Home" dictionaryPath="/sitecore/content/habitat/global/dictionary" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" formsRoot="{4BC8A78C-44A7-46EB-8126-040D3F12CAA0}" enableItemLanguageFallback="true" />
    </sites>
    <cacheSizes>
      <sites>
        <habitat>
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </habitat>
      </sites>
    </cacheSizes>
    <settings>
      <setting name="Preview.DefaultSite" value="habitat" />
    </settings>
  </sitecore>
</configuration>
