<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Habitat.Website" description="Habitat content" dependencies="Foundation.Serialization,Foundation.Assets,Foundation.Multisite,Feature.Accounts,Feature.Demo,Feature.Identity,Feature.Language,Feature.Media,Feature.Metadata,Feature.Multisite,Feature.Navigation,Feature.News,Feature.PageContent,Feature.Person,Feature.Search,Feature.Social,Feature.Teasers,Project.Common.Website,Project.Demo.Website" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\project\habitat\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Habitat.Website.Templates" database="master" path="/sitecore/templates/Project/Habitat" />
            <include name="Habitat.Website.Renderings" database="master" path="/sitecore/layout/renderings/Project/Habitat" />
            <include name="Habitat.Website.Layouts" database="master" path="/sitecore/layout/layouts/Project/Habitat" />
            <include name="Habitat.Website.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/Habitat" />
            <include name="Habitat.Website.Models" database="master" path="/sitecore/layout/models/Project/Habitat" />

            <include name="Habitat.Website.Content" database="master" path="/sitecore/content/Habitat"/>
            <include name="Habitat.Website.Media" database="master" path="/sitecore/media library/Habitat"/>

            <include name="Habitat.Website.Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Habitat"/>
            <include name="Habitat.Website.Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/Habitat"/>
            <include name="Habitat.Website.EngagementPlans" database="master" path="/sitecore/system/Marketing Control Panel/Engagement Plans/Habitat"/>
            <include name="Habitat.Website.Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Habitat"/>
            <include name="Habitat.Website.Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Habitat"/>
            <include name="Habitat.Website.Lists" database="master" path="/sitecore/system/List Manager/All Lists/Habitat"/>
            <include name="Habitat.Website.Social.Accounts" database="master" path="/sitecore/system/Social/Accounts/Habitat"/>
            <include name="Habitat.Website.Social.Applications" database="master" path="/sitecore/system/Social/Applications/Default/Habitat"/>
            <include name="Habitat.Website.Social.Klout" database="master" path="/sitecore/system/Social/Klout/Applications/Default/Habitat"/>
            <include name="Habitat.Website.Wffm.FormsLocation" database="master" path="/sitecore/system/Modules/Web Forms for Marketers/Habitat"/>
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\project\habitat\serialization\Project.Habitat.Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="habitat" pattern="^Project Habitat .*$" />
          </rolePredicate>
          <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sourceFolder)\project\habitat\serialization\Project.Habitat.Users" singleInstance="true"/>
          <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
            <include domain="habitat" pattern="^((?!Anonymous).)*$" />
          </userPredicate>
          <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>