<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <federatedAuthentication>
            <identityProvidersPerSites>
                <mapEntry name="habitat" type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication">
                    <sites hint="list">
                        <site>habitat</site>
                    </sites>
                    <identityProviders hint="list:AddIdentityProvider">
                        <identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='Facebook']"/>
                    </identityProviders>
                    <externalUserBuilder type="Sitecore.Owin.Authentication.Services.DefaultExternalUserBuilder, Sitecore.Owin.Authentication">
                        <param desc="isPersistentUser">true</param>
                    </externalUserBuilder>
                </mapEntry>
            </identityProvidersPerSites>
        </federatedAuthentication>
        <events>
            <event name="publish:end">
                <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                    <sites hint="list">
                        <site hint="habitat">habitat</site>
                    </sites>
                </handler>
            </event>
            <event name="publish:end:remote">
                <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                    <sites hint="list">
                        <site hint="habitat">habitat</site>
                    </sites>
                </handler>
            </event>
        </events>
        <sites>
            <site name="habitat" patch:after="site[@name='modules_website']" 
                  targetHostName="habitat.$(rootHostName)" 
                  database="web" 
                  virtualFolder="/" 
                  physicalFolder="/" 
                  rootPath="/sitecore/content/habitat" 
                  startItem="/Home" 
                  dictionaryPath="/sitecore/content/habitat/global/dictionary" 
                  dictionaryAutoCreate="false" 
                  placeholderSettingsRoot="/sitecore/layout/Placeholder Settings/Project/Habitat"
                  domain="extranet" 
                  allowDebug="true" 
                  cacheHtml="true" 
                  htmlCacheSize="50MB" 
                  registryCacheSize="0" 
                  viewStateCacheSize="0" 
                  xslCacheSize="25MB" 
                  filteredItemsCacheSize="10MB" 
                  enablePreview="true" 
                  enableWebEdit="true" 
                  enableDebugger="true" 
                  disableClientData="false" 
                  cacheRenderingParameters="true" 
                  renderingParametersCacheSize="10MB" 
                  formsRoot="{4BC8A78C-44A7-46EB-8126-040D3F12CAA0}"
                  loginPage="/login"
                  enableItemLanguageFallback="true" />
        </sites>
        <cacheSizes>
            <sites>
                <habitat>
                    <html>50MB</html>
                    <registry>0</registry>
                    <viewState>0</viewState>
                    <xsl>25MB</xsl>
                </habitat>
            </sites>
        </cacheSizes>
        <settings>
            <setting name="Preview.DefaultSite">
                <patch:attribute name="value" value="habitat" />
            </setting>
        </settings>
    </sitecore>
</configuration>