<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site>
              <patch:delete/>
            </site>
            <site hint="habitat">habitat</site>
            <site hint="demo">demo</site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site>
              <patch:delete/>
            </site>
            <site hint="habitat">habitat</site>
            <site hint="demo">demo</site>
          </sites>
        </handler>
      </event>
    </events>
    <sites>
      <site name="habitat" patch:before="site[@name='website']" database="master" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content/habitat" startItem="/Home" dictionaryPath="/sitecore/content/Shared/dictionary" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" formsRoot="{F1F7AAB6-C8CE-422F-A214-F610C109FA63}" />
      <site name="demo" patch:before="site[@name='habitat']" hostName="demo.habitat.local" database="master" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content/demo" startItem="/" dictionaryPath="/sitecore/content/Shared/dictionary" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" formsRoot="{F1F7AAB6-C8CE-422F-A214-F610C109FA63}" />
      <site name="website">
        <patch:delete/>
      </site>
    </sites>
    <cacheSizes>
      <sites>
        <habitat>
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </habitat>
        <demo>
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </demo>
        <website>
          <patch:delete />
        </website>
      </sites>
    </cacheSizes>
    <settings>
      <setting name="Preview.DefaultSite" value="habitat" />
      <setting name="WFM.EnableBootstrapCssRendering" >
        <patch:attribute name="value" value="false" />
      </setting>
    </settings>
  </sitecore>
</configuration>