<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="sourceFolder" value="C:\projects\git\Habitat\src" />

    <sites>
      <site name="habitat">
        <patch:attribute name="database">master</patch:attribute>
      </site>
    </sites>
  </sitecore>
</configuration>
