<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="sourceFolder" value="C:\projects\Habitat\src" />

    <sites>
      <site name="habitat">
        <patch:attribute name="database">master</patch:attribute>
        <patch:attribute name="targetHostName">habitat.local</patch:attribute>
      </site>
    </sites>
    <settings>
      <setting name="Sitecore.Foundation.Installer.RestoreMongo" value="false"/>
    </settings>
  </sitecore>
</configuration>
