<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Habitat.Feature.Office.GoogleMapApiKey" value="AIzaSyBYiEI7apv48erjjZ4hRKdGP-85QMV4ow4" />    
    </settings>
    <unicorn>
      <configurations>
        <configuration name="Habitat.Office" description="Habitat Office"
                       patch:after="configuration[@name='Habitat.Framework.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\domain\office\serialization"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Habitat.Office.Templates" database="master"
                     path="/sitecore/templates/Habitat/Domain/Office" />
            <include name="Habitat.Office.Renderings" database="Maps"
                     path="/sitecore/layout/renderings/Habitat/Domain/Office" />         
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>