<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>   
    <unicorn>
      <configurations>
        <configuration name="Habitat.Maps" description="Habitat Maps"
                       patch:after="configuration[@name='Habitat.Framework.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\domain\maps\serialization"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Habitat.Maps.Templates" database="master"
                     path="/sitecore/templates/Habitat/Domain/Maps" />
            <include name="Habitat.Maps.Renderings" database="Maps"
                     path="/sitecore/layout/renderings/Habitat/Domain/Maps" />         
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>