<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Defines the releation between a field type name, e.g. "lookup", and an implementation class -->

  <!-- Simple Types -->
  <fieldType name="Checkbox" type="Sitecore.Data.Fields.CheckboxField,Sitecore.Kernel" />
  <fieldType name="Date" type="Sitecore.Data.Fields.DateField,Sitecore.Kernel" />
  <fieldType name="Datetime" type="Sitecore.Data.Fields.DateField,Sitecore.Kernel" />
  <fieldType name="File" type="Sitecore.Data.Fields.FileField,Sitecore.Kernel" />
  <fieldType name="Image" type="Sitecore.Data.Fields.ImageField,Sitecore.Kernel" />
  <fieldType name="Rich Text" type="Sitecore.Data.Fields.HtmlField,Sitecore.Kernel" resizable="true" />
  <fieldType name="Single-Line Text" type="Sitecore.Data.Fields.TextField,Sitecore.Kernel" />
  <fieldType name="Word Document" type="Sitecore.Data.Fields.WordDocumentField,Sitecore.Kernel" blob="true" />
  <fieldType name="Multi-Line Text" type="Sitecore.Data.Fields.TextField,Sitecore.Kernel" resizable="true" />
  <!-- List Types -->
  <fieldType name="Checklist" type="Sitecore.Data.Fields.MultilistField,Sitecore.Kernel" resizable="true" />
  <fieldType name="Droplist" type="Sitecore.Data.Fields.ValueLookupField,Sitecore.Kernel" />
  <fieldType name="Grouped Droplink" type="Sitecore.Data.Fields.GroupedDroplinkField,Sitecore.Kernel" />
  <fieldType name="Grouped Droplist" type="Sitecore.Data.Fields.GroupedDroplistField,Sitecore.Kernel" />
  <fieldType name="Multilist" type="Sitecore.Data.Fields.MultilistField,Sitecore.Kernel" resizable="true" />
  <fieldType name="Multilist with Search" type="Sitecore.Data.Fields.MultilistField,Sitecore.Kernel" resizable="true" />
  <fieldType name="Name Value List" type="Sitecore.Data.Fields.NameValueListField,Sitecore.Kernel" />
  <fieldType name="Treelist" type="Sitecore.Data.Fields.MultilistField,Sitecore.Kernel" />
  <fieldType name="Treelist with Search" type="Sitecore.Data.Fields.MultilistField,Sitecore.Kernel" />
  <fieldType name="TreelistEx" type="Sitecore.Data.Fields.MultilistField,Sitecore.Kernel" />
  <!-- Link Types -->
  <fieldType name="Droplink" type="Sitecore.Data.Fields.LookupField,Sitecore.Kernel" />
  <fieldType name="Droptree" type="Sitecore.Data.Fields.ReferenceField,Sitecore.Kernel" />
  <fieldType name="General Link" type="Sitecore.Data.Fields.LinkField,Sitecore.Kernel" />
  <fieldType name="General Link with Search" type="Sitecore.Data.Fields.LinkField,Sitecore.Kernel" />
  <fieldType name="Version Link" type="Sitecore.Data.Fields.VersionLinkField,Sitecore.Kernel" />
  <!-- Developer Types -->
  <fieldType name="Frame" type="Sitecore.Data.Fields.TextField,Sitecore.Kernel" resizable="true" />
  <fieldType name="Rules" type="Sitecore.Data.Fields.RulesField,Sitecore.Kernel" resizable="true" />
  <fieldType name="Tracking" type="Sitecore.Analytics.Data.TrackingField,Sitecore.Analytics" resizable="true" />
  <!-- System Types -->
  <fieldType name="Datasource" type="Sitecore.Data.Fields.DatasourceField,Sitecore.Kernel" />
  <fieldType name="Custom" type="Sitecore.Data.Fields.CustomCustomField,Sitecore.Kernel" />
  <fieldType name="Internal Link" type="Sitecore.Data.Fields.InternalLinkField,Sitecore.Kernel" />
  <fieldType name="Layout" type="Sitecore.Data.Fields.LayoutField,Sitecore.Kernel" />
  <fieldType name="Template Field Source" type="Sitecore.Data.Fields.TemplateFieldSourceField,Sitecore.Kernel" />
  <fieldType name="File Drop Area" type="Sitecore.Data.Fields.FileDropAreaField,Sitecore.Kernel" />
  <fieldType name="Page Preview" type="Sitecore.Data.Fields.PagePreviewField,Sitecore.Kernel" />
  <fieldType name="Rendering Datasource" type="Sitecore.Data.Fields.RenderingDatasourceField,Sitecore.Kernel" />
  <fieldType name="Thumbnail" type="Sitecore.Data.Fields.ThumbnailField,Sitecore.Kernel" />
  <fieldType name="Security" type="Sitecore.Data.Fields.TextField,Sitecore.Kernel" resizable="true" />
  <fieldType name="UserList" type="Sitecore.Data.Fields.TextField,Sitecore.Kernel" resizable="true" />
  <!-- Deprecated Types -->
  <fieldType name="html" type="Sitecore.Data.Fields.HtmlField,Sitecore.Kernel" resizable="true" />
  <fieldType name="link" type="Sitecore.Data.Fields.LinkField,Sitecore.Kernel" />
  <fieldType name="lookup" type="Sitecore.Data.Fields.LookupField,Sitecore.Kernel" />
  <fieldType name="reference" type="Sitecore.Data.Fields.ReferenceField,Sitecore.Kernel" />
  <fieldType name="text" type="Sitecore.Data.Fields.TextField,Sitecore.Kernel" />
  <fieldType name="memo" type="Sitecore.Data.Fields.TextField,Sitecore.Kernel" resizable="true" />
  <fieldType name="tree" type="Sitecore.Data.Fields.ReferenceField,Sitecore.Kernel" />
  <fieldType name="tree list" type="Sitecore.Data.Fields.MultilistField,Sitecore.Kernel" />
  <fieldType name="valuelookup" type="Sitecore.Data.Fields.ValueLookupField,Sitecore.Kernel" />
</configuration>
  