<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Habitat.Website" description="Habitat content"
                       patch:after="configuration[@name='Habitat.Framework.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\project\habitat\serialization"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Habitat.Website.Templates" database="master"
                     path="/sitecore/templates/Habitat/Project/Website" />
            <include name="Habitat.Website.Renderings" database="master"
                     path="/sitecore/layout/renderings/Habitat/Project/Website" />
            <include name="Habitat.Website.Layouts" database="master"
                     path="/sitecore/layout/layouts/Habitat/Project/Website" />
            <include name="Habitat.Website.PlaceholderSettings" database="master"
                     path="/sitecore/layout/placeholder settings/Habitat/Project/Website" />
            <include name="Habitat.Website.Models" database="master"
                     path="/sitecore/layout/models/Habitat/Project/Website" />

            <include name="Habitat.Website.Content" database="master" path="/sitecore/content/Habitat"/>
            <include name="Habitat.Website.SharedContent" database="master" path="/sitecore/content/Shared"/>
            <include name="Habitat.Website.Media" database="master" path="/sitecore/media library/Habitat"/>
            <include name="Habitat.Website.Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles"/>

            <include name="Habitat.Website.Demo" database="master" path="/sitecore/content/Demo"/>
            <include name="Habitat.Website.UserProfiles" database="core"
                     path="/sitecore/system/Settings/Security/Profiles/Habitat" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>