@using Sitecore.Feature.PageContent
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

<ul class="block-grid-md-4 block-grid-sm-3 block-grid-xs-1">
@foreach (var item in Model.Item.Children.Where(i => i.IsDerived(Templates.HasPageContent.ID)))
{
  <li>
    @using (Html.Sitecore().SwitchContextItem(item))
    {
      @Html.Sitecore().ViewRendering("/Views/PageContent/PageTeaser")
    }
  </li>
}
</ul>
