@using Sitecore.Feature.PageContent
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    const int DefaultColumns = 4;

    var children = Model.Item.Children.Where(i => i.DescendsFrom(Templates.HasPageContent.ID) && i.HasContextLanguage()).ToArray();
    var numColumns = children.Length >= DefaultColumns ? DefaultColumns : (children.Length <= 2 ? 2 : children.Length);
}

<div class="block-grid-md-@numColumns block-grid-sm-@(numColumns-1) block-grid-xs-1">
    @foreach (var item in children)
    {
        <div class="block-grid-item">
            <div>
                @Html.Sitecore().Rendering(Renderings.PageTeaser.ToString(), new { Datasource = item.ID })
            </div>
        </div>
    }
</div>