@using Sitecore.Feature.PageContent
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

@{
  var section = Model.Item.GetAncestorOrSelfOfTemplate(Templates.HasPageContent.ID);
  if (section == null)
  {
    return;
  }
}

<div class="container m-b-1">
  <h1>
    @Html.Sitecore().Field(Templates.HasPageContent.Fields.Title, section)
    @if (section.FieldHasValue(Templates.HasPageContent.Fields.Summary) || Sitecore.Context.PageMode.IsExperienceEditor)
    {
      <br/>
      <small>
        @Html.Sitecore().Field(Templates.HasPageContent.Fields.Summary, section)
      </small>
    }
  </h1>
</div>