@using Sitecore.Feature.PageContent
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

@if (!Sitecore.Context.PageMode.IsPageEditor && !Html.Sitecore().HasValue(Templates.HasPageContent.Fields.Image.ToString()))
{
  return;
}

<div class="article image">
  @Html.Sitecore().ImageField(Templates.HasPageContent.Fields.Image.ToString(), @Model.Item, mw: 1000, cssClass: "img-responsive")
</div>