@using Sitecore.Feature.PageContent
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

@{
  var section = Model.Item.GetAncestorOrSelfOfTemplate(Templates.HasPageContent.ID);
  if (section == null)
  {
    return;
  }
}

<div class="section-title">
  <h1>
    @Html.Sitecore().Field(Templates.HasPageContent.Fields.Title.ToString(), @section)
  </h1>
</div>