<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
        <settings>
            <setting name="FederatedAuthentication.Enabled">
                <patch:attribute name="value">true</patch:attribute>
            </setting>

            <setting name="Sitecore.Feature.Accounts.LoginGoalId" value="{66722F52-2D13-4DCC-90FC-EA7117CF2298}" />
            <setting name="Sitecore.Feature.Accounts.RegisterGoalId" value="{8FFB183B-DA1A-4C74-8F3A-9729E9FCFF6A}" />
            <setting name="Sitecore.Feature.Accounts.Facebook.AppId" value="8230953299" />
            <setting name="Sitecore.Feature.Accounts.Facebook.AppSecret" value="f6b1946d130eceda5b967379aaa14d86" />
        </settings>
        <pipelines>
            <initialize>
                <processor type="Sitecore.Feature.Accounts.Infrastructure.Pipelines.RegisterWebApiRoutes, Sitecore.Feature.Accounts" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" resolve="true"/>
            </initialize>
            <accounts.loggedIn>
                <processor type="Sitecore.Feature.Accounts.Infrastructure.Pipelines.TrackLoggedIn, Sitecore.Feature.Accounts" resolve="true"/>
            </accounts.loggedIn>
            <accounts.loggedOut>
                <processor type="Sitecore.Feature.Accounts.Infrastructure.Pipelines.TrackLoggedOut, Sitecore.Feature.Accounts" resolve="true"/>
            </accounts.loggedOut>
            <accounts.registered>
                <processor type="Sitecore.Feature.Accounts.Infrastructure.Pipelines.TrackRegistered, Sitecore.Feature.Accounts" resolve="true"/>
            </accounts.registered>
            <owin.identityProviders>
                <processor type="Sitecore.Feature.Accounts.Infrastructure.Pipelines.IdentityProviders.Facebook, Sitecore.Feature.Accounts" resolve="true" />
            </owin.identityProviders>
            <owin.cookieAuthentication.signedIn>
                <processor type="Sitecore.Feature.Accounts.Infrastructure.Pipelines.SignedIn.TrackSignedIn, Sitecore.Feature.Accounts" resolve="true" />
            </owin.cookieAuthentication.signedIn>
        </pipelines>
        <services>
            <register serviceType="Sitecore.Abstractions.BaseAuthenticationManager, Sitecore.Kernel"
                      implementationType="Sitecore.Owin.Authentication.Security.AuthenticationManager, Sitecore.Owin.Authentication"
                      lifetime="Singleton" />
            <register serviceType="Sitecore.Abstractions.BaseTicketManager, Sitecore.Kernel"
                      implementationType="Sitecore.Owin.Authentication.Security.TicketManager, Sitecore.Owin.Authentication"
                      lifetime="Singleton" />
            <register serviceType="Sitecore.Abstractions.BasePreviewManager, Sitecore.Kernel"
                      implementationType="Sitecore.Owin.Authentication.Publishing.PreviewManager, Sitecore.Owin.Authentication"
                      lifetime="Singleton" />
            <configurator type="Sitecore.Feature.Accounts.ServiceRegistration, Sitecore.Feature.Accounts" />
        </services>

        <federatedAuthentication type="Sitecore.Owin.Authentication.Configuration.FederatedAuthenticationConfiguration, Sitecore.Owin.Authentication">
            <!--Provider mappings to sites-->
            <identityProvidersPerSites hint="list:AddIdentityProvidersPerSites">
            </identityProvidersPerSites>

            <!--Definitions of providers-->
            <identityProviders hint="list:AddIdentityProvider">
                <!--Facebook provider-->               
                <identityProvider id="Facebook" type="Sitecore.Owin.Authentication.Configuration.DefaultIdentityProvider, Sitecore.Owin.Authentication">
                    <param desc="name">Facebook</param>
                    <param desc="domainManager" type="Sitecore.Abstractions.BaseDomainManager" resolve="true" />
                    <caption>Facebook</caption>
                    <domain>facebook</domain>
                    <transformations hint="list:AddTransformation">
                    </transformations>
                </identityProvider>
            </identityProviders>

            <!--List of all shared transformations-->
            <sharedTransformations>
            </sharedTransformations>

            <!--Property mappings initializer-->
            <propertyInitializer type="Sitecore.Owin.Authentication.Services.PropertyInitializer, Sitecore.Owin.Authentication">
                <!--List of property mappings
                Note that all mappings from the list will be applied to each providers-->
                <maps hint="list">
                    <!--The mapping sets the Email property of the user profile from emailaddress claim-->
                    <map name="email claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
                        <data hint="raw:AddData">
                            <!--claim name-->
                            <source name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress" />
                            <!--property name-->
                            <target name="Email" />
                        </data>
                    </map>
                    <map name="full_name" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
                        <data hint="raw:AddData">
                            <source name="full_name" />
                            <target name="FullName" />
                        </data>
                    </map>
                    <map name="first_name" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
                        <data hint="raw:AddData">
                            <source name="first_name" />
                            <target name="FirstName" />
                        </data>
                    </map>
                    <map name="middle_name" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
                        <data hint="raw:AddData">
                            <source name="middle_name" />
                            <target name="MiddleName" />
                        </data>
                    </map>
                    <map name="last_name" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
                        <data hint="raw:AddData">
                            <source name="last_name" />
                            <target name="LastName" />
                        </data>
                    </map>
                    <map name="gender" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
                        <data hint="raw:AddData">
                            <source name="gender" />
                            <target name="Gender" />
                        </data>
                    </map>
                    <map name="birthday" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
                        <data hint="raw:AddData">
                            <source name="birthday" />
                            <target name="Birthday" />
                        </data>
                    </map>
                    <map name="link" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
                        <data hint="raw:AddData">
                            <source name="link" />
                            <target name="Link" />
                        </data>
                    </map>
                    <map name="timezone" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
                        <data hint="raw:AddData">
                            <source name="timezone" />
                            <target name="Timezone" />
                        </data>
                    </map>
                    <map name="location" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
                        <data hint="raw:AddData">
                            <source name="location" />
                            <target name="Location" />
                        </data>
                    </map>
                    <map name="locale" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
                        <data hint="raw:AddData">
                            <source name="locale" />
                            <target name="Language" />
                        </data>
                    </map>
                    <map name="picture_url" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
                        <data hint="raw:AddData">
                            <source name="picture_url" />
                            <target name="PictureUrl" />
                        </data>
                    </map>
                    <map name="picture_url to Portrait" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
                        <data hint="raw:AddData">
                            <source name="picture_url" />
                            <target name="Portrait" />
                        </data>
                    </map>
                    <map name="picture_mime" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
                        <data hint="raw:AddData">
                            <source name="picture_mime" />
                            <target name="PictureMimeType" />
                        </data>
                    </map>
                </maps>
            </propertyInitializer>

        </federatedAuthentication>
    </sitecore>
</configuration>