<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Feature.Accounts" description="Feature Accounts" dependencies="Foundation.*" extends="Helix.Feature">
                    <predicate>
                        <include name="Core.Templates" database="core" path="/sitecore/templates/Feature/Accounts" />
                        <include name="Core.UserProfiles" database="core" path="/sitecore/system/Settings/Security/Profiles/Accounts" />
                    </predicate>
                    <rolePredicate>
                        <include domain="modules" pattern="^Feature Accounts .*$" />
                    </rolePredicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>