<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Accounts" description="Feature Accounts" dependencies="Foundation.Serialization,Foundation.Assets" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\feature\accounts\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature.Accounts.Templates" database="master" path="/sitecore/templates/Feature/Accounts" />
            <include name="Feature.Accounts.Renderings" database="master" path="/sitecore/layout/renderings/Feature/Accounts" />
            <include name="Feature.Accounts.Core.Templates" database="core" path="/sitecore/templates/Feature/Accounts" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>