@using System.Globalization
@using Sitecore.Feature.Demo.Texts
@using Sitecore.Foundation.SitecoreExtensions.Repositories
@using Sitecore.StringExtensions
@model Sitecore.Mvc.Presentation.RenderingModel
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a href="#personalInfoPanel" data-toggle="collapse" class="panel-title collapsed">
        <span class="fa fa-user"></span>
        @DictionaryRepository.Get("/Demo/PersonalInfo/Title", "Personal Information")
        <span class="glyphicon glyphicon-chevron-down pull-right"></span>
      </a>
    </h3>
  </div>
  <div id="personalInfoPanel" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <span class="fa fa-user"></span>
        </div>
        <div class="media-body ">
          <h4 class="media-title">
            Thomas Andreas Eldblom
          </h4>
          <dl>
            <dt>Address</dt>
            <dd>9/15 Moruben Rd<br />Mosman, NSW, 2088<br />Australia</dd>
            <dt>Phone 1</dt>
            <dd>0477545839</dd>
            <dt>Phone 2</dt>
            <dd>0401010711</dd>
            <dt>Phone 2</dt>
            <dd>0401010711</dd>
            <dt>E-mail 1</dt>
            <dd>the@Sitecore.net</dd>
            <dt>E-mail 2</dt>
            <dd>thomas@eldblom.dk</dd>
            <dt>Preferred Language</dt>
            <dd>Danish</dd>
            <dt>Soccer or Football</dt>
            <dd>Football</dd>
            <dt>Identifier</dt>
            <dd>sitecore/the</dd>
          </dl>
        </div>
        <div class="media-right">
          <img src="http://lorempixel.com/50/50/people/" width="50" />
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <span class="fa fa-user"></span>
        </div>
        <div class="media-body ">
          <h4 class="media-title">
            @DictionaryRepository.Get("/Demo/PersonalInfo/AnonymousUser", "Anonymous visitor")
          </h4>
        </div>
        <div class="media-right">
          <span class="fa fa-user-secret icon-lg"></span>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <span class="fa fa-user"></span>
        </div>
        <div class="media-body ">
          <h4 class="media-title">
            @DictionaryRepository.Get("/Demo/PersonalInfo/IdentifiedUser", "Identified visitor")
          </h4>
          <dl>
            <dd>Identifier</dd>
            <dt>sitecore/the</dt>
          </dl>
        </div>
        <div class="media-right">
          <span class="fa fa-user-plus icon-lg"></span>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <span class="fa fa-street-view"></span>
        </div>
        <div class="media-body ">
          <h4 class="media-title">
            @DictionaryRepository.Get("/Demo/PersonalInfo/Engagement", "Engagement")
          </h4>
          <table class="table table-condensed table-borderless">
            <tbody>
              <tr>
                <td colspan="2"><small>Engagement plan</small></td>
              </tr>
              <tr>
                <td>26 mar. 2016 13:40</td>
                <td>Shown interest</td>
              </tr>
              <tr>
                <td colspan="2"><small>Engagement plan</small></td>
              </tr>
              <tr>
                <td>26 mar. 2016 13:40</td>
                <td>Shown interest</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
