<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Foundation.Indexing" description="Foundation Indexing" dependencies="Foundation.Serialization" extends="Helix.Foundation">
                    <predicate>
                        <include name="Models" database="master" path="/sitecore/layout/Models/Foundation/Indexing" />
                        <include name="Facets" database="master" path="/sitecore/system/Settings/Buckets/Facets/Foundation/Indexing" />
                    </predicate>
                    <rolePredicate>
                        <include domain="modules" pattern="^Foundation Indexing .*$" />
                    </rolePredicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>