<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <mvc.getPageRendering>
        <processor type="Habitat.Framework.Assets.Pipelines.GetPageRendering.AddAssets, Habitat.Framework.Assets">
          <defaultAssets hint="raw:AddAsset">
            <!-- Jango dependencies -->
            <asset type="Css" file="http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=latin,cyrillic-ext,greek-ext,cyrillic,latin-ext,vietnamese,greek"/>
            <asset type="Css" file="http://fonts.googleapis.com/css?family=Hind:400,500,300,600,700"/>
            <asset type="Css" file="/assets/plugins/socicon/socicon.css"/>
            <asset type="Css" file="/assets/plugins/bootstrap-social/bootstrap-social.css"/>
            <asset type="Css" file="/assets/plugins/font-awesome/css/font-awesome.min.css"/>
            <asset type="Css" file="/assets/plugins/simple-line-icons/simple-line-icons.min.css"/>
            <asset type="Css" file="/assets/plugins/animate/animate.min.css"/>
            
            <!-- Jango base styles -->
            <asset type="Css" file="/assets/base/css/plugins.css"/>
            <asset type="Css" file="/assets/base/css/components.css" id="style_components" />
            <asset type="Css" file="/assets/base/css/themes/default.css" id="style_theme"/>
            <asset type="Css" file="/assets/base/css/custom.css"/>

            <asset type="JavaScript" file="/assets/plugins/jquery.min.js"/>
            <asset type="JavaScript" file="/assets/plugins/jquery-migrate.min.js"/>
            <asset type="JavaScript" file="/assets/plugins/bootstrap/js/bootstrap.min.js"/>
            <asset type="JavaScript" file="/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"/>
            <asset type="JavaScript" file="/assets/plugins/wow/wow.min.js"/>

            <asset type="JavaScript" file="/assets/base/js/components.js"/>
            <asset type="JavaScript" file="/assets/base/js/app.js"/>

            <asset type="JavaScript" Inline="App.init();"/>
          </defaultAssets>
        </processor>
      </mvc.getPageRendering>
    </pipelines>
  </sitecore>
</configuration>