<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <mvc.getPageRendering>
        <processor type="Habitat.Framework.Assets.Pipelines.GetPageRendering.AddAssets, Habitat.Framework.Assets">
          <patch:delete/>
        </processor>
        <processor type="Habitat.Framework.Assets.Pipelines.GetPageRendering.AddAssets, Habitat.Framework.Assets">
          <defaultAssets hint="raw:AddAsset">
            <!-- Jango dependencies -->
            <asset type="Css" file="http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=latin,cyrillic-ext,greek-ext,cyrillic,latin-ext,vietnamese,greek"/>
            <asset type="Css" file="http://fonts.googleapis.com/css?family=Hind:400,500,300,600,700"/>
            <asset type="Css" file="/assets/plugins/socicon/socicon.css"/>
            <asset type="Css" file="/assets/plugins/bootstrap-social/bootstrap-social.css"/>
            <asset type="Css" file="/assets/plugins/font-awesome/css/font-awesome.min.css"/>
            <asset type="Css" file="/assets/plugins/simple-line-icons/simple-line-icons.min.css"/>
            <asset type="Css" file="/assets/plugins/animate/animate.min.css"/>
            <asset type="Css" file="/assets/plugins/bootstrap/css/bootstrap.min.css"/>
            
            <!-- Jango plugin styles -->
            <asset type="Css" file="assets/plugins/revo-slider/css/settings.css"/>
            <asset type="Css" file="assets/plugins/cubeportfolio/css/cubeportfolio.min.css"/>
            <asset type="Css" file="assets/plugins/owl-carousel/owl.carousel.css"/>
            <asset type="Css" file="assets/plugins/owl-carousel/owl.theme.css"/>
            <asset type="Css" file="assets/plugins/owl-carousel/owl.transitions.css"/>
            <asset type="Css" file="assets/plugins/fancybox/jquery.fancybox.css"/>
            
            <!-- Jango base styles -->
            <asset type="Css" file="/assets/base/css/plugins.css"/>
            <asset type="Css" file="/assets/base/css/components.css" id="style_components" />
            <asset type="Css" file="/assets/base/css/themes/default.css" id="style_theme"/>
            <asset type="Css" file="/assets/base/css/custom.css"/>
            
            <!-- Jango plugins scripts -->
            <asset type="Raw" location="Body">
              &lt;!--[if lt IE 9]&gt;&lt;script src=&quot;/assets/global/plugins/excanvas.min.js&quot;&gt;&lt;/script&gt;&lt;![endif]--&gt;
            </asset>
            <asset type="JavaScript" file="/assets/plugins/jquery.min.js"/>
            <asset type="JavaScript" file="/assets/plugins/jquery-migrate.min.js"/>
            <asset type="JavaScript" file="/assets/plugins/bootstrap/js/bootstrap.min.js"/>
            <asset type="JavaScript" file="/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"/>
            <!-- TODO: investigate why  wow is missing from jango, unused? 
            <asset type="JavaScript" file="/assets/plugins/wow/wow.min.js"/>
            -->
            
            <!-- Jango base scripts -->
            <asset type="JavaScript" file="/assets/plugins/revo-slider/js/jquery.themepunch.tools.min.js"/>
            <asset type="JavaScript" file="/assets/plugins/revo-slider/js/jquery.themepunch.revolution.min.js"/>
            <asset type="JavaScript" file="/assets/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js"/>
            <asset type="JavaScript" file="/assets/plugins/owl-carousel/owl.carousel.min.js"/>
            <asset type="JavaScript" file="/assets/plugins/counterup/jquery.waypoints.min.js"/>
            <asset type="JavaScript" file="/assets/plugins/counterup/jquery.counterup.min.js"/>
            <asset type="JavaScript" file="/assets/plugins/fancybox/jquery.fancybox.pack.js"/>

            <!-- Jango scripts -->
            <asset type="JavaScript" file="/assets/base/js/components.js"/>
            <asset type="JavaScript" file="/assets/base/js/app.js"/>

            <asset type="Raw" location="Body">
              <script>$(document).ready(function() {App.init();});</script>
            </asset>
          </defaultAssets>
        </processor>
      </mvc.getPageRendering>
    </pipelines>
  </sitecore>
</configuration>