<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <mvc.getPageRendering>
        <processor type="Habitat.Framework.Assets.Pipelines.GetPageRendering.AddAssets, Habitat.Framework.Assets">
          <defaultAssets hint="raw:AddAsset">
            <!-- Jango dependencies -->
            <asset type="Css" file="http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=latin,cyrillic-ext,greek-ext,cyrillic,latin-ext,vietnamese,greek"/>
            <asset type="Css" file="https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic"/>
            <asset type="Css" file="/assets/plugins/socicon/socicon.css"/>
            <asset type="Css" file="/assets/plugins/font-awesome/css/font-awesome.min.css"/>
            <asset type="Css" file="/assets/plugins/simple-line-icons/simple-line-icons.min.css"/>
            <asset type="Css" file="/assets/plugins/animate/animate.min.css"/>
            <asset type="Css" file="/assets/habitat.css"/>
          </defaultAssets>
        </processor>
      </mvc.getPageRendering>
    </pipelines>
  </sitecore>
</configuration>