<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>    
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="EndVisitUrl" value="http://habitat.test5ua1.dk.sitecore.net//api/sitecore/Demo/EndVisit/" />
    <add key="baseUrl" value="http://habitat.test5ua1.dk.sitecore.net" />
    <add key="registerUrl" value="/register" />
    <add key="editUserProfileUrl" value="/en/EditProfile" />
    <add key="loginPageUrl" value="/login" />
    <add key="testsProxyUrl" value="/tests.proxy.asmx" />
    <add key="utfProxyUrl" value="/HelperWebService.asmx" />
    <add key="forgotPasswordUrl" value="/Login/ForgotPassword" />
    <add key="endSessionUrl" value="/endSession.aspx" />
    <add key="endVisitUrl" value="/api/sitecore/Demo/EndVisit" />
    <add key="demoSiteUrl" value="http://demo.habitat.test5ua1.dk.sitecore.net/"/>
    <add key="demoSiteCampaignUrl" value="http://habitat.dev.local/?sc_camp={0BFFAF94-F523-452A-9F2A-1FA3292D4647}"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="xunit" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.1705" newVersion="1.9.2.1705" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>  
<specFlow>
  <stepAssemblies>
    <stepAssembly assembly="Sitecore.Foundation.Common.Specflow" />
  </stepAssemblies>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <unitTestProvider name="xUnit" />
</specFlow>
</configuration>