@using Sitecore.Data.Items
@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Navigation
@model Habitat.Navigation.Models.NavigationItems
<ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
    @{ var index = 0;}
    @foreach (var item in Model.Items)
    {
        if (index != 0)
        {
            <li>/</li>
        }
        <li class="@(item.IsActive ? "active" : string.Empty)">
            <a href="@item.Item.Url()">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle.ToString(), item.Item)</a>
        </li>
        index++; 
    }
</ul>