<ul class="c-links c-theme-ul">
    <li>
        <a href="#" class="c-font-uppercase c-font-bold">Help</a>
    </li>
    <li>
        <a href="#" class="c-font-uppercase c-font-bold">Contact</a>
    </li>
    <li class="c-divider">
    </li>
    <li>
        <a href="#" class="c-font-uppercase c-font-bold c-font-dark">Support</a>
    </li>
</ul>
