<ul class="c-links c-theme-ul">
    <li>
        <a href="#" class="c-font-uppercase c-font-bold">Help</a>
    </li>
    <li>
        <a href="#" class="c-font-uppercase c-font-bold">Contact</a>
    </li>
    <li class="c-divider">
    </li>
    <li>
        <a href="#" class="c-font-uppercase c-font-bold c-font-dark">Support</a>
    </li>
    <li>
        <a href="javascript:;" data-toggle="modal" data-target="#login-form" class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">Sign In</a>
    </li>
</ul>
