@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Navigation
@model Habitat.Navigation.Models.NavigationItems
<nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold">
    <ul class="nav navbar-nav c-theme-nav">
        @foreach (var item in Model.Items)
        {
        <li class="@(item.IsActive ? "c-active" : string.Empty)">
            <a href="@item.Item.Url()" class="c-link">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle.ToString(), item.Item)</a>
        </li>
        }
    </ul>
</nav>
