@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Navigation
@model Habitat.Navigation.Models.NavigationItem
@{
    if (Model == null)
    {
        return;
    }
}

<div class="c-sidebar-menu-toggler">
    <h3 class="c-title c-font-uppercase c-font-bold">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle.ToString(), Model.Item)</h3>
    <a href="javascript:;" class="c-content-toggler" data-toggle="collapse" data-target="#sidebar-menu-1">
        <span class="c-line"></span>
        <span class="c-line"></span>
        <span class="c-line"></span>
    </a>
</div>


<ul class="c-sidebar-menu collapse" id="sidebar-menu-1">
    <li class="c-dropdown c-open c-active">
        <a href="@Model.Item.Url()">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle.ToString(), Model.Item)</a>
        @if (Model.Children != null)
        {
            @Html.Partial("SecondaryMenuItems", Model.Children)
        }
    </li>
</ul>

