<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Sitecore.Foundation.Serialization.DemoPassword" value="b" />
    </settings>
    <unicorn>
      <defaults>
        <!-- Loads all users with the password in the setting Sitecore.Foundation.Serialization.DemoPassword -->
        <userLoader type="Sitecore.Foundation.Serialization.Unicorn.DemoUserLoader, Sitecore.Foundation.Serialization" singleInstance="true" patch:instead="*[@type='Unicorn.Users.Loader.UserLoader, Unicorn.Users']"/>
      </defaults>
    </unicorn>
  </sitecore>
</configuration>