<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site>habitat</site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site>habitat</site>
          </sites>
        </handler>
      </event>
    </events>
    <sites>
      <site name="habitat" patch:before="site[@name='website']" database="master" hostName="habitat" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content/habitat" startItem="/Home" dictionaryPath="/sitecore/content/Shared/dictionary" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" formsRoot="{F1F7AAB6-C8CE-422F-A214-F610C109FA63}" />
    </sites>
  </sitecore>
</configuration>