<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Habitat.Website" description="Habitat content">
          <targetDataStore physicalRootPath="$(sourceFolder)\project\website\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true"/>
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include database="master" path="/sitecore/content"/>
            <include database="master" path="/sitecore/media library/files"/>
            <include database="master" path="/sitecore/media library/images"/>
            <include database="master" path="/sitecore/media library/videos"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
