<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <appSettings>
    <add key="baseUrl" value="http://habitat.test5ua1.dk.sitecore.net" />
    <add key="loginPageUrl" value="/sitecore/login" />
    <add key="ExperianceEditorUrl" value="/Modules/Feature/Social/?sc_mode=edit" />
    <add key="testsProxyUrl" value="/tests.proxy.asmx" />
    <add key="utfProxyUrl" value="/HelperWebService.asmx" />
    <add key="SocialPageExperienceEditorUrl" value="/Modules/Feature/Social?sc_mode=edit" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <specFlow>
  <stepAssemblies>
    <stepAssembly assembly="Sitecore.Foundation.Common.Specflow" />
    <stepAssembly assembly="Sitecore.Feature.Accounts.Specflow" />
  </stepAssemblies>
  
  
  
<!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="xUnit" /></specFlow>
</configuration>