<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <sc.variable name="rootHostName" value="dev.local" />

        <pipelines role:require="Standalone or ContentManagement">
            <!-- enable the unicorn warning in the content editor -->
            <getContentEditorWarnings>
                <processor type="Unicorn.UI.Pipelines.GetContentEditorWarnings.SerializedWarning, Unicorn" />
            </getContentEditorWarnings>
        </pipelines>
    </sitecore>
</configuration>