@using Habitat.Language.Infrastructure.Repositories
<ul class="language nav navbar-nav navbar-right">

    @foreach (var language in LanguageRepository.GetCountries())
    {
        <li>
            <a href="@language.Url" class="language-icon">
                <img src="@language.Icon" title="@language.Name" height="20"/>
            </a>
        </li>
    }
</ul>