@model Sitecore.Mvc.Presentation.RenderingModel
@using Habitat.Language.Infrastructure.Repositories

@{
    var activeLanguage = LanguageRepository.GetActive();
    var languages = LanguageRepository.GetAll().ToArray();
    if (languages.Length <= 1)
    {
        return;
    }
}
<ul class="c-ext c-theme-ul">
    <li class="c-lang dropdown c-last">
        <a href="#" class="icon-globe c-font-grey-4">
        </a>
        <ul class="dropdown-menu pull-right" role="menu">

            @foreach (var language in languages)
            {
                <li>
                    <a href="@language.Url">@language.Name</a>
                </li>
            }
        </ul>
    </li>
</ul>