@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(/fonts/Sitecore.Foundation.Theming/Roboto-Condensed-Light.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(/fonts/Sitecore.Foundation.Theming/Roboto-Condensed.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(/fonts/Sitecore.Foundation.Theming/Roboto-Condensed-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(/fonts/Sitecore.Foundation.Theming/Roboto-Condensed-Light-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(/fonts/Sitecore.Foundation.Theming/Roboto-Condensed-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(/fonts/Sitecore.Foundation.Theming/Roboto-Condensed-Bold-Italic.woff) format('woff');
}

$font-family-sans-serif: 'Roboto Condensed', sans-serif;
$font-size-base: 17px;
$headings-font-weight: 600;
$font-size-h1: 28px;
$font-size-h2: 24px;
$font-size-h3: 22px;