@import '_fonts.scss';

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

$brand-primary: #125687;
$brand-success: lighten(#008998, 20%);
$brand-info: lighten(#125687, 20%);
$brand-warning: #EF8200;
$brand-danger: #d9534f;

$navbar-default-bg: transparent;
$navbar-default-border: transparent;
$navbar-margin-bottom: 0;

$thumbnail-padding: 0;
$thumbnail-border: none;
$thumbnail-caption-padding: 0;

$link-hover-decoration: none;
$link-hover-color: darken($brand-primary, 20%);

$btn-font-weight: bold;
$btn-default-color: $brand-primary;
$btn-default-border: $brand-primary;

@import '_bootstrap.scss';

/****************
    General
****************/
body {
  font-weight: 300;
}

.container-fluid > .row > .col-md-12 {
  > .jumbotron, > .carousel {
    margin-left: -15px;
    margin-right: -15px;
  }
}

a {
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

/****************
    Page Header
****************/
.page-header-container {
  background-color: $gray-lighter;
  padding: 25px 0;
  margin-bottom: $line-height-computed;

  .page-header {
    margin: 0;
    border: 0;
  }

  .section-title {
    @extend .pull-left;
    text-transform: uppercase;

    h1 {
      font-size: $font-size-large;
      margin: 0;
      padding: 0;
    }
  }

  .breadcrumb {
    @extend .pull-right;
    @extend .hidden-xs;
    margin: 0;
    padding: 0;
    background-color: inherit;
  }
}

@import "_footer.scss";

@import "_forms.scss";

@import "_dropdowns.scss";

@import "_sidebar.scss";

@import "_article.scss";

@import "_teasers.scss";

@import "_navigation.scss";

@import "_media.scss";

@import "_contentList.scss";
