<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Sitecore.Analytics.NoReferences" version="8.2.170614" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.Kernel.NoReferences" version="8.2.170614" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.Marketing.NoReferences" version="8.2.170614" targetFramework="net46" developmentDependency="true" />
</packages>