$btn-border-radius-base: 0px;
$btn-border-radius-large: 0px;
$btn-border-radius-small: 0px;
$btn-primary-bg: $brand-primary;
$btn-primary-border: $brand-primary;
$btn-default-border: $brand-primary;
$btn-default-color: $brand-primary;


@import "bootstrap/buttons";


.btn {

  font-weight: bold;

  &-hollow {
    background-color: transparent;
    border: 2px solid #FFF;
    color: #FFF;
    position:relative;
    &:hover {
      background-color: #FFF;
      color: $text-color !important;
    }

  }

  &-default {
    border-width: 2px;
    background-color: transparent;
    &:hover {
      background-color: $color-primary;
      color: #FFF;
    }
  }

  &-lg {
    @media all and (max-width: $screen-xs-max) {
      font-size: 14px;
    }
  }

  &-xl {
    font-size: 20px;
    padding: 15px 35px;
  }

  &-social-icon {
    position:relative;

    span {
      float:right;
      color: #FFF;
      padding-left:0.9em;
    }
    &.btn {
      &-facebook {
        @include backgroundHoverLighten(#3b5998, 25%, true);
      }
      &-twitter {
        @include backgroundHoverLighten(#00aced, 25%, true);
      }
      &-youtube {
        @include backgroundHoverLighten(#bb0000, 25%, true);
      }
      &-instagram {
        @include backgroundHoverLighten(#125688, 25%, true);
      }
      &-google-plus {
        @include backgroundHoverLighten(#dd4b39, 25%, true);
      }
      &-linkedin {
        @include backgroundHoverLighten(#007bb6, 25%, true);
      }
    }
    .navbar & {
      background-color: transparent !important;
      color: #FFF;
    }
    i {
      color: #FFF;
    }
  }
}

button {
  &.close {
    border: 2px solid $text-color;
    background-color: transparent;
  }
}
