$dropdown-link-hover-color: $color-primary;
$dropdown-link-color: $color-primary;
$dropdown-link-hover-bg: transparent;

@import "bootstrap/dropdowns";

.dropdown, .dropup {
  &-header {
    font-size: 16px;
    color: $brand-primary;
  }

  &-toggle {
    margin-bottom: 0 !important;
  }

  &-menu {
    p {
      font-size: 14px;
    }
    & > li {
      & > a {
        color: $brand-primary;
      }
    }
  }
}

.mega-dropdown {
  &-menu {
    .dropdown-header {
      padding-left: 0;
    }
  }
}

.caret {
  margin-left: 10px;
}
