@import "bootstrap/labels";



.label {
  border-radius: 0;

  &-default {
    color: $text-color;
  }

  &-square {
    width: 70px;
    height: 70px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    font-size: 20px;
    display: block;
    line-height: 70px;
  }
}
