$progress-bar-bg: #F2F3F4;

@import "bootstrap/progress-bars";


.progress {
  height: 50px;
  .progress-bar {
    padding: 15px;
    font-size: 30px;
    font-weight: 800;
    text-align: left;
    color: $text-color;

    &-success, &-info, &-warning, &-danger {
      color: #FFF;
    }
  }
}
