<!--
	Unicorn.Configs.Default.config

	This is an example of how to configure a basic Unicorn configuration using your own config patch file.
	Copy this file to use as a basis for your own configuration definitions.

	Enabled configuration definition patches should be present on all environments Unicorn is present on.

	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<!--
					The default configuration defines a somewhat sane set of default dev artifacts to serialize.
					You will probably want to customize the includes and excludes. Consider serializing a multisite installation
					with a configuration for each site, as opposed to all templates and layout in one as defined below.

					Configurations can override the default dependencies defined in Unicorn.config's <defaults> to apply
					custom behaviors to specific configurations.
					
					Configurations may also depend on each other. Add a comma-delimited list of configuration names to depend on to the 'dependencies' attribute on the configuration.
					Dependent configurations do not force dependencies to sync if not selected, but syncs will always occur in dependency order if multiple dependent configurations sync at once.
					Transitive dependency and multiple dependency (comma delimited) are supported.
				-->
				<configuration name="Default Configuration" description="Write something here about why this configuration exists and what it's for. Or remove the attribute; it's optional.">
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<!--
							Each include can also exclude specific subitems by path:
							<exclude path="/sitecore/content"/>

							Excludes may also exclude all children at once by adding a trailing slash, e.g. this would include the root /sitecore item but no children
							<include path="/sitecore">
								<exclude path="/sitecore/" />
							</include>

							NOTE: after changing what is included or excluded, you should reserialize all items, or at least the added items
							NOTE: the "name" attribute controls the folder name the items will go into (for SFS). If unspecified, the last path segment is used. Names must be unique across the configuration.
						-->

						<!-- Core DB items: common customization locations for custom apps, custom experience buttons, etc -->
						<include database="core" path="/sitecore/system/Field types"/>
						<include name="Core Settings" database="core" path="/sitecore/system/Settings" />
						<include name="Core Start Menu" database="core" path="/sitecore/content/Documents and settings/All users"/>
						<include name="Core Applications" database="core" path="/sitecore/content/Applications"/>

						<!-- Master Layout items (and renderings, sublayouts, etc) -->
						<include database="master" path="/sitecore/layout">
							<!-- NOTE: You cannot use excludes with Transparent Sync. See https://github.com/kamsar/Unicorn/wiki/The-Transparent-Sync-Guide -->
							<exclude path="/sitecore/layout/Simulators" />
							<exclude path="/sitecore/layout/Layouts/System" />
							<exclude path="/sitecore/layout/Renderings/App Center Sync" />
							<exclude path="/sitecore/layout/Renderings/System" />
							<exclude path="/sitecore/layout/Renderings/Social MVC" />
							<exclude path="/sitecore/layout/Sublayouts/App Center Sync" />
							<exclude path="/sitecore/layout/Sublayouts/Social" />
							<exclude path="/sitecore/layout/Placeholder Settings/App Center Sync" />
						</include>

						<!-- Master System items (global settings, workflows, etc) -->
						<include database="master" path="/sitecore/system">
							<exclude path="/sitecore/system/Aliases"/>
							<exclude path="/sitecore/system/Marketing Center"/>
							<exclude path="/sitecore/system/Publishing targets" />
							<exclude path="/sitecore/system/Modules/Web Forms for Marketers/Website" />
							<exclude path="/sitecore/system/Modules/Web Forms for Marketers/Local Forms" />
							<exclude path="/sitecore/system/Modules/Web Forms for Marketers/Sample forms" />
							<exclude path="/sitecore/system/Modules/Azure" />
							<exclude path="/sitecore/system/Aliases" />
							<exclude path="/sitecore/system/Tasks/Schedules" />
							<exclude path="/sitecore/system/Modules/PowerShell/Settings/ISE/sitecore" />
						</include>

						<!-- Master Templates (except system stuff) -->
						<include database="master" path="/sitecore/templates">
							<exclude path="/sitecore/templates/System"/>
							<exclude path="/sitecore/templates/App Center Sync"/>
							<exclude path="/sitecore/templates/List Manager"/>
							<exclude path="/sitecore/templates/Branches/System"/>
						</include>
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
