<!--
	This is an example of how to configure Unicorn to override the location on disk to store the serialized items.

	If used, this should be present on all environments where Unicorn is active (usually all but CD).
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<defaults>
				<!--
					VERY IMPORTANT: THIS CONFIG MUST LOAD AFTER THE REGULAR UNICORN CONFIGURATIONS
					Sitecore config patch files load in alphabetical order, followed by folders.
					So either place this in App_Config/Include/Unicorn, or a folder that loads after that like 'zSite'
					
					The target data store is where we write serialized items to, use this patch to alter where items are serialized to and from.

					Note the target data store's rootPath can be any of:
					Absolute filesystem path, e.g. c:\foo\bar
					Web-root-relative path, e.g. ~/data/serialization or ~/../out-of-root-serialization
					Data-folder-relative path, e.g. $(dataFolder)\serializedItems

					DO NOT SHARE A ROOT PATH BETWEEN CONFIGURATIONS (at least if you're using SFS).
					They can clobber each other's folders. You may inject the name of the current
					configuration as a variable with $(configurationName).

					The data cache uses a memory cache to store serialized items read from disk. It
					is recommended if using transparent syncing for performance. It's not really
					needed otherwise.
					-->
				<targetDataStore type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow">
					<patch:attribute name="physicalRootPath">c:\path-to-source\Unicorn\$(configurationName)</patch:attribute>
				</targetDataStore>
			</defaults>
		</unicorn>
	</sitecore>
</configuration>
