<!--
	Unicorn.Users.config
	
	Configures Unicorn to be capable of syncing security users as well as Sitecore items.
	See Unicorn.Configs.Default.Users.config.example for details of how to include users and how they sync.

	This file should be present on all environments where Unicorn will be expected to sync users.
	Normally this would be development and Content Editing (CE) environments.
	It should not hurt anything if left in a CD environment, but it may be removed.
	
	http://github.com/kamsar/Unicorn
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<defaults>
				<!-- Note: do not colocate serialized items and serialized users in the same folder -->
				<userDataStore physicalRootPath="$(dataFolder)\Unicorn\Unicorn.Users\$(configurationName)" type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" singleInstance="true"/>
				<userLoader type="Unicorn.Users.Loader.UserLoader, Unicorn.Users" singleInstance="true" />
					<userLoaderLogger type="Unicorn.Users.Loader.DefaultUserLoaderLogger, Unicorn.Users" singleInstance="true" />

				<userSerializationFormatter type="Unicorn.Users.Formatting.YamlUserSerializationFormatter, Unicorn.Users" singleInstance="true" />
				
				<!--
					removeOrphans:
					If you set RemoveOrphans to true, role syncing will delete matching roles that are not serialized, like item syncing does.
					If set to false, roles are only ever added or updated (similar to New Items Only item syncing but updates are also synced)
					
					defaultPassword:
					When NEW users are deserialized, their passwords will be set to this value. 
					If the value is set to "random," the password will be set to a long randomly generated value, otherwise the literal value is used.
					In "random" mode, it is required to have an admin reset the user's password before it can be used.
					
					minPasswordLength:
					If defaultPassword is not random, this settings defines the minimum accepted password length when deserializing a user.
					Default is 8 and must be larger than 0.
			
					If a user already exists in Sitecore, when it is deserialized its password will not be altered.
				-->
				<userSyncConfiguration removeOrphans="true" defaultPassword="random" minPasswordLength="8" type="Unicorn.Users.Loader.DefaultUserSyncConfiguration, Unicorn.Users" singleInstance="true" />
			</defaults>
		</unicorn>

		<pipelines>
			<unicornSyncComplete>
				<processor type="Unicorn.Users.Pipelines.UnicornSyncComplete.SyncUsers, Unicorn.Users" />
			</unicornSyncComplete>
			<unicornReserializeComplete>
				<processor type="Unicorn.Users.Pipelines.UnicornReserializeComplete.ReserializeUsers, Unicorn.Users" />
			</unicornReserializeComplete>
		</pipelines>
	</sitecore>
</configuration>