<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Habitat.Identity" description="Habitat Identity">
          <targetDataStore physicalRootPath="$(sourceFolder)\domain\identity\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true"/>
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="IdentityTemplates" database="master" path="/sitecore/templates/Habitat/Domain/Identity"/>
            <include name="IdentityRenderings" database="master" path="/sitecore/layout/renderings/Habitat/Domain/Identity"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
