@using Sitecore.Feature.Accounts
@using Sitecore.Feature.Accounts.Services
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Accounts.Models.LoginInfo
<div class="m-t-1">
    @if (Model.LoginButtons.Any())
    {
        foreach (var loginLink in Model.LoginButtons)
        {
            <form action="@loginLink.Href" method="post" class="form-signin">
                <button class="btn btn-block btn-secondary" type="submit">
                    @if (!string.IsNullOrWhiteSpace(loginLink.IconClass))
                    {
                        <i class="@loginLink.IconClass"></i>
                    }
                    <span>
                        @loginLink.Caption
                    </span>
                </button>
            </form>
        }
    }
</div>