<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Foundation.SitecoreExtensions" description="Foundation SitecoreExtensions" dependencies="Foundation.Serialization" extends="Helix.Foundation">
                    <predicate>
                        <include name="RTEComplete" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Rich Text Complete" />
                        <include name="RTELimited" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Rich Text Limited" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>