<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="Media.RequestExtension" set:value="" />
      <setting name="Media.RequestProtection.SharedSecret" set:value="Sitecore documentation sucks. According to THE :-)" />
    </settings>
     <commands>
      <command name="webeditcustom:fieldeditorall" type="Sitecore.Foundation.SitecoreExtensions.FieldEditor.FieldEditorAll, Sitecore.Foundation.SitecoreExtensions"/>
    </commands>
  </sitecore>
</configuration>