<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <hooks>
      <hook type="Sitecore.Diagnostics.MemoryMonitorHook, Sitecore.Kernel">
        <patch:delete />
      </hook>
    </hooks>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Pipelines.Initialize.PrecompileSpeakViews, Sitecore.Speak.Client">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Pipelines.Initialize.PrecompileSpeakViews, Sitecore.Speak.Client">
          <patch:delete />
        </processor>
      </initialize>
    </pipelines>
    <settings>
      <setting name="Counters.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>

      <!-- Only recommended for 64-bit environments -->
      <setting name="Caching.DisableCacheSizeLimits">
        <patch:attribute name="value">false</patch:attribute>
      </setting>

      <!--  WEBDAV FEATURE ENABLED
            Determines if WebDAV feature should be enabled at all.
            Specify 'true' to enable WebDAV and 'false' to disable the feature.
            Default value: true
			-->
      <setting name="WebDAV.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>

      <!-- ENABLE BUCKET SPECIFIC DEBUG IN LOGS
				   If enabled, every query is written to the log file. Only have this turned on while you are debugging, switch it off in your production environment.
			-->
      <setting name="BucketConfiguration.EnableBucketDebug">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>