$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "Bitter", Georgia, serif;

$color-primary: #000;

$color-secondary: #FFF;
$color-secondary-dark: #FFF;
$color-secondary-light: #FFF;
$color-secondary-lighter: #FFF;
$color-secondary-lightest: #FFF;

$brand-primary: $color-primary;
$brand-success: #24C890;
$brand-info: #24ABC8;
$brand-warning: #ABC824;
$brand-danger: #E65757;
$gray-base: #666;
$gray-lighter: #efefef;
$gray-light: lighten($gray-base, 20%);
$gray-dark: darken($gray-base, 20%);
$gray-darker: darken($gray-base, 35%);

$text-color: $color-primary;

$main-bg: #FFF !default;
$navbar-bg: $main-bg !default;

$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

$link-color: $brand-primary;
