<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <mvc.getPageRendering>
        <processor type="Sitecore.Foundation.Assets.Pipelines.GetPageRendering.AddAssets, Sitecore.Foundation.Assets">
          <defaultAssets hint="raw:AddAsset">
            <asset type="Css" file="/assets/plugins/font-awesome/css/font-awesome.min.css" />
            <asset type="Css" file="/assets/plugins/simple-line-icons/simple-line-icons.min.css" />
            <asset type="Css" file="/assets/plugins/animate/animate.min.css" />
            <asset type="Css" file="/assets/habitat.css" />
            <asset type="JavaScript" file="/scripts/design/habitat.design.js" location="body" />
            <!-- Included in habitat.css-->
            <asset type="Css" file="/content/bootstrap.min.css">
              <patch:delete />
            </asset>
            <asset type="Css" file="/content/bootstrap-theme.min.css">
              <patch:delete />
            </asset>
          </defaultAssets>
        </processor>
      </mvc.getPageRendering>
    </pipelines>
  </sitecore>
</configuration>