@* TODO Hardcoded *@
<ul class="nav nav-pills social-links">
    <li>
        <a href="#"><i class="fa fa-twitter" data-original-title="Twitter"></i></a>
    </li>
    <li>
        <a href="#"><i class="fa fa-facebook" data-original-title="Facebook"></i></a>
    </li>
    <li>
        <a href="#"><i class="fa fa-youtube" data-original-title="YouTube"></i></a>
    </li>
</ul>