@* TODO Hardcoded *@
<ul class="nav nav-pills">
    <li>
        <a href="#"><i class="icon-social-twitter tooltips" data-original-title="Twitter"></i></a>
    </li>
    <li>
        <a href="#"><i class="icon-social-facebook tooltips" data-original-title="Facebook"></i></a>
    </li>
    <li>
        <a href="#"><i class="icon-social-youtube tooltips" data-original-title="YouTube"></i></a>
    </li>
</ul>