@* TODO: Hardcoded *@
<div class="c-content-title-1 c-title-md">
    <h3 class="c-font-uppercase c-font-bold">Latest Tweets</h3>
</div>
<div class="c-twitter">
    <a class="twitter-timeline" href="https://twitter.com/sitecorehabitat" data-widget-id="641815052882804737" data-tweet-limit="2" data-chrome="noheader nofooter noscrollbar noborders transparent">Tweets by @@sitecorehabitat</a>
</div>