@using Sitecore.Foundation.Alerts.Models
@model Sitecore.Foundation.Alerts.Models.InfoMessage
@{
  var alerts = new Dictionary<InfoMessage.MessageType, string>
               {
                 [InfoMessage.MessageType.Info] = "alert-info",
                 [InfoMessage.MessageType.Success] = "alert-success",
                 [InfoMessage.MessageType.Warning] = "alert-warning",
                 [InfoMessage.MessageType.Error] = "alert-danger"
               };
}

@if (Model != null)
{
  <div class="alert @alerts[Model.Type]">@Model.Message</div>
}