<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sitecore" type="Sitecore.FakeDb.Configuration.ConfigReader, Sitecore.FakeDb" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Sitecore.Logging" />
  </configSections>
  <appSettings>
    <add key="xunit.parallelizeTestCollections" value="false" />
  </appSettings>
  <sitecore database="Fake">
    <!-- SETTINGS -->
    <settings>
      <setting name="LicenseFile" value="\\mars\Installs\Licenses\Sitecore Partner License\license.xml" />
      <setting name="Caching.Enabled" value="false" />
      <setting name="MaxWorkerThreads" value="0" />
      <setting name="FakeDb.AutoTranslate" value="false" />
      <setting name="FakeDb.AutoTranslatePrefix" value="" />
      <setting name="FakeDb.AutoTranslateSuffix" value="" />
    </settings>
    <!-- FIELD TYPES -->
    <fieldTypes>
      <sc.include file="..\..\App_Config\FieldTypes.config" />
    </fieldTypes>
    <!-- LINK DATABASE -->
    <LinkDatabase type="Sitecore.FakeDb.Links.FakeLinkDatabase, Sitecore.FakeDb" />
    <!-- TASK DATABASE -->
    <TaskDatabase type="Sitecore.FakeDb.Tasks.FakeTaskDatabase, Sitecore.FakeDb" />
    <!-- ID TABLE -->
    <IDTable type="Sitecore.FakeDb.Data.IDTables.FakeIDTableProvider, Sitecore.FakeDb" singleInstance="true" />
    <!-- PIPELINES -->
    <pipelines>
      <initialize />
      <getFieldValue performanceCritical="true">
        <processor type="Sitecore.Pipelines.GetFieldValue.GetInheritedValue, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.GetFieldValue.GetStandardValue, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.GetFieldValue.GetDefaultValue, Sitecore.Kernel" />
      </getFieldValue>
      <!-- FakeDb -->
      <initFakeDb>
        <processor type="Sitecore.FakeDb.Pipelines.InitFakeDb.InitGlobals, Sitecore.FakeDb" />
      </initFakeDb>
      <releaseFakeDb>
        <processor type="Sitecore.FakeDb.Pipelines.ReleaseFakeDb.ReleasePipelineWatcher, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.ReleaseFakeDb.ResetTemplateEngine, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.ReleaseFakeDb.ResetFactory, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.ReleaseFakeDb.ResetSettings, Sitecore.FakeDb" />
      </releaseFakeDb>
      <addDbItem>
        <processor type="Sitecore.FakeDb.Pipelines.AddDbItem.SetStatistics, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.AddDbItem.SetParent, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.AddDbItem.CreateTemplate, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.AddDbItem.EnsureIsChild, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.AddDbItem.SetFullPath, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.AddDbItem.AddVersion, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.AddDbItem.SetAccess, Sitecore.FakeDb" />
      </addDbItem>
      <getTranslation>
        <processor type="Sitecore.FakeDb.Pipelines.GetTranslation.GetFakeTranslation, Sitecore.FakeDb" />
      </getTranslation>
      <!-- Analytics -->
      <loadVisitor />
    </pipelines>
    <dataProviders>
      <main type="Sitecore.FakeDb.Data.DataProviders.$(database)DataProvider, Sitecore.FakeDb">
        <CacheOptions.DisableAll>true</CacheOptions.DisableAll>
      </main>
    </dataProviders>
    <!-- DATABASES -->
    <databases>
      <!-- core -->
      <database id="core" type="Sitecore.Data.Database, Sitecore.Kernel" singleInstance="true">
        <param desc="name">$(id)</param>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/main" />
        </dataProviders>
      </database>
      <!-- master -->
      <database id="master" type="Sitecore.Data.Database, Sitecore.Kernel" singleInstance="true">
        <param desc="name">$(id)</param>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/main" />
        </dataProviders>
      </database>
      <!-- web -->
      <database id="web" type="Sitecore.Data.Database, Sitecore.Kernel" singleInstance="true">
        <param desc="name">$(id)</param>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/main" />
        </dataProviders>
      </database>
    </databases>
    <archives defaultProvider="sql" enabled="true">
      <providers>
        <clear />
        <add name="sql" type="Sitecore.Data.Archiving.SqlArchiveProvider, Sitecore.Kernel" database="*" />
      </providers>
    </archives>
    <clientDataStore type="Sitecore.FakeDb.Configuration.ClientDataStoreStub, Sitecore.FakeDb" />
    <!-- CONFIG STORES -->
    <configStores>
      <add name="globalRoles" type="Sitecore.Configuration.XmlConfigStore, Sitecore.Kernel">
        <param>roles</param>
      </add>
    </configStores>
    <!-- ITEM MANAGER -->
    <itemManager defaultProvider="default">
      <providers>
        <clear />
        <add name="default" type="Sitecore.Data.Managers.ItemProvider, Sitecore.Kernel" />
      </providers>
    </itemManager>
    <!-- DOMAINS -->
    <domainManager>
      <providers>
        <clear />
        <add name="fake" type="Sitecore.FakeDb.SecurityModel.FakeDomainProvider, Sitecore.FakeDb" />
      </providers>
    </domainManager>
    <!-- SITES -->
    <siteManager defaultProvider="config">
      <providers>
        <clear />
        <add name="config" type="Sitecore.Sites.ConfigSiteProvider, Sitecore.Kernel" siteList="sites" checkSecurity="false" />
      </providers>
    </siteManager>
    <!-- LINKS -->
    <linkManager defaultProvider="sitecore">
      <providers>
        <clear />
        <add name="sitecore" type="Sitecore.Links.LinkProvider, Sitecore.Kernel" addAspxExtension="true" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="asNeeded" languageLocation="filePath" lowercaseUrls="false" shortenUrls="true" useDisplayName="false" />
        <add name="switcher" type="Sitecore.FakeDb.Links.SwitchingLinkProvider, Sitecore.FakeDb" />
      </providers>
    </linkManager>
    <!-- STANDARD VALUES -->
    <standardValues defaultProvider="fake">
      <providers>
        <clear />
        <add name="fake" type="Sitecore.FakeDb.Data.FakeStandardValuesProvider, Sitecore.FakeDb" />
      </providers>
    </standardValues>
    <!-- AUTHENTICATION -->
    <authentication defaultProvider="switcher">
      <providers>
        <clear />
        <add name="switcher" type="Sitecore.FakeDb.Security.Authentication.SwitchingAuthenticationProvider, Sitecore.FakeDb" defaultProvider="fake" />
        <add name="fake" type="Sitecore.FakeDb.Security.Authentication.FakeAuthenticationProvider, Sitecore.FakeDb" />
      </providers>
    </authentication>
    <!-- ROLES -->
    <rolesInRolesManager>
      <providers>
        <clear />
        <add name="fake" type="Sitecore.FakeDb.Security.Accounts.FakeRolesInRolesProvider, Sitecore.FakeDb" globalRolesConfigStoreName="globalRoles" />
      </providers>
    </rolesInRolesManager>
    <!-- AUTHORIZATION -->
    <authorization>
      <providers>
        <clear />
        <add name="fake" type="Sitecore.FakeDb.Security.AccessControl.FakeAuthorizationProvider, Sitecore.FakeDb" />
      </providers>
    </authorization>
    <!-- ACCESS RIGHTS -->
    <accessRights>
      <providers>
        <clear />
        <add name="fake" type="Sitecore.FakeDb.Security.AccessControl.FakeAccessRightProvider, Sitecore.FakeDb" />
      </providers>
    </accessRights>
    <!-- SEARCH -->
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ProviderIndexSearchConfiguration, Sitecore.ContentSearch" />
    </contentSearch>
    <searchManager defaultProvider="switcher" enabled="true">
      <providers>
        <clear />
        <add name="switcher" type="Sitecore.FakeDb.ContentSearch.SwitchingSearchProvider, Sitecore.FakeDb" />
      </providers>
    </searchManager>
    <switchingProviders>
      <membership>
        <provider providerName="fake" storeFullNames="true" wildcard="%" domains="*" />
      </membership>
      <roleManager>
        <provider providerName="fake" storeFullNames="true" wildcard="%" domains="*" />
      </roleManager>
      <profile>
        <provider providerName="fake" storeFullNames="true" wildcard="%" domains="*" />
      </profile>
    </switchingProviders>
    <mediaLibrary>
      <!-- MEDIA PROVIDER -->
      <mediaProvider type="Sitecore.FakeDb.Resources.Media.FakeMediaProvider, Sitecore.FakeDb" />
    </mediaLibrary>
    <bucketManager defaultProvider="switcher" enabled="true">
      <providers>
        <clear />
        <add name="switcher" type="Sitecore.FakeDb.Buckets.SwitchingBucketProvider, Sitecore.FakeDb" />
      </providers>
    </bucketManager>
  </sitecore>
  <log4net />
  <system.web>
    <membership defaultProvider="fake" hashAlgorithmType="SHA1">
      <providers>
        <clear />
        <add name="sitecore" type="Sitecore.Security.SitecoreMembershipProvider, Sitecore.Kernel" realProviderName="fake" providerWildcard="%" raiseEvents="true" />
        <add name="fake" type="Sitecore.FakeDb.Security.Web.FakeMembershipProvider, Sitecore.FakeDb" />
        <add name="switcher" type="Sitecore.Security.SwitchingMembershipProvider, Sitecore.Kernel" applicationName="sitecore" mappings="switchingProviders/membership" />
      </providers>
    </membership>
    <roleManager defaultProvider="fake" enabled="true">
      <providers>
        <clear />
        <add name="sitecore" type="Sitecore.Security.SitecoreRoleProvider, Sitecore.Kernel" realProviderName="fake" raiseEvents="true" />
        <add name="fake" type="Sitecore.FakeDb.Security.Web.FakeRoleProvider, Sitecore.FakeDb" />
        <add name="switcher" type="Sitecore.Security.SwitchingRoleProvider, Sitecore.Kernel" applicationName="sitecore" mappings="switchingProviders/roleManager" />
      </providers>
    </roleManager>
    <profile defaultProvider="fake" enabled="true" inherits="Sitecore.FakeDb.Profile.FakeUserProfile, Sitecore.FakeDb">
      <providers>
        <clear />
        <add name="fake" type="Sitecore.FakeDb.Security.Web.FakeProfileProvider, Sitecore.FakeDb" />
        <add name="switcher" type="Sitecore.Security.SwitchingProfileProvider, Sitecore.Kernel" applicationName="sitecore" mappings="switchingProviders/profile" />
      </providers>
      <properties>
        <clear />
        <add type="System.String" name="SC_UserData" />
      </properties>
    </profile>
  </system.web>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.1.1308.2321" newVersion="4.1.1308.2321" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-2.1.0.3179" newVersion="2.1.0.3179" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Ploeh.AutoFixture" publicKeyToken="b24654c590009d4f" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.37.3.0" newVersion="3.37.3.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>