$font-size-base: 14px;

$line-height-base: 1.428571429; // 20/14
$line-height-computed: floor(($font-size-base * $line-height-base)); // ~20px

$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif: 'Bitter', Georgia, "Times New Roman", Times, serif;

$color-primary: #5C646B;

$color-secondary: #79A0B9;
$color-secondary-dark: #6A96B1;
$color-secondary-light: #80A6BD;
$color-secondary-lighter: #88ABC1;

$border-radius-base: 20px;
$border-radius-large: 30px;
$border-radius-small: 10px;

$footer-text-color: #FFF;

$sidebar-toggle-border-radius: $border-radius-small;

$bg-media-overlay-color: #5C646B;