<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <quantus>
            <patch:attribute name="defaultProvider">fallback</patch:attribute>
            <providers>
                <add name="fallback" type="Quantus.Providers.OtherPluralProvider, Quantus" />
                
                <add name="da" type="Quantus.Providers.DanishPluralProvider, Quantus" />
                <add name="de" type="Quantus.Providers.GermanPluralProvider, Quantus" />
                <add name="en" type="Quantus.Providers.EnglishPluralProvider, Quantus" />
                <add name="fr" type="Quantus.Providers.FrenchPluralProvider, Quantus" />
                <add name="ja" type="Quantus.Providers.JapanesePluralProvider, Quantus" />
                <add name="pl" type="Quantus.Providers.PolishPluralProvider, Quantus" />
            </providers>
        </quantus>
    </sitecore>
</configuration>