<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Multisite" description="Feature Multisite" dependencies="Foundation.Serialization,Foundation.Multisite" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\feature\multisite\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature.Multisite.Templates" database="master" path="/sitecore/templates/Feature/Multisite" />
            <include name="Feature.Multisite.Renderings" database="master" path="/sitecore/layout/renderings/Feature/Multisite" />
            <include name="Feature.Multisite.Media" database="master" path="/sitecore/media library/Feature/Multisite" />
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.ReverseHierarchyRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\feature\multisite\serialization\Feature.Multisite.Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="modules" pattern="^Feature Multisite .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>