@using Sitecore
@using Sitecore.Feature.Metadata
@using Sitecore.Feature.Metadata.Repositories
@model Sitecore.Mvc.Presentation.RenderingModel
@*TODO: Fall back to Title / DisplayName etc*@
@{
  //TODO Mode to Controller Rendering
  var siteMetadata = MetadataRepository.Get(Model.Item);
  if (siteMetadata == null)
  {
    return;
  }
}
<title>@Html.Sitecore().Field(Templates.PageMetadata.Fields.BrowserTitle.ToString(), Model.Item) @Html.Sitecore().Field(Templates.SiteMetadata.Fields.SiteBrowserTitle.ToString(), siteMetadata)</title>
<meta name="keywords" content="@MetadataRepository.GetKeywords(Model.Item).ToString()"/>
<meta name="description" content="@Html.Sitecore().Field(Templates.PageMetadata.Fields.Description.ToString(), Model.Item)"/>
@{
  if (!MainUtil.GetBool(Model.Item[Templates.PageMetadata.Fields.CanIndex], true))
  {
    <meta name="robots" content="noindex"/>
  }
}