@using Habitat.Framework.SitecoreExtensions.Repositories
@* TODO: Hardcoded *@
<div class="panel panel-default identity-contact">
    <div class="panel-heading">
        <h3 class="title">
            @DictionaryRepository.Get("/C/Contact Us", "Contact Us")
        </h3>
    </div>
    <div class="panel-body">
        <address>
            <strong>Sitecore Corporation</strong><br />
            L4, 50 Fun St.
            <br />
            California, US
            <br />
            Phone: 800 123 3456
            <br />
            Fax: 800 123 3456
        </address>
        <p>
            <label>Email:</label>
            <span>
                    <a href="mailto:sitecorehabitat@gmail.com">sitecorehabitat@gmail.com</a>
                </span>
        </p>
        <p>
            <label>Github:</label>
            <span>
                    <a href="https://github.com/Sitecore/Habitat">/Sitecore/Habitat</a>
                </span>
        </p>
    </div>
</div>
