@* TODO: Contact info *@
<div class="c-content-title-1 c-title-md">
    <h3 class="c-font-uppercase c-font-bold">Contact Us</h3>
    <div class="c-line-left hide">
    </div>
</div>
<p class="c-address c-font-16 c-font-regular">
    Sitecore Corporation
    <br />
    L4, 50 Fun St.
    <br />
    California, US
    <br />
    Phone: 800 123 3456
    <br />
    Fax: 800 123 3456
    <br />
    Email:
    <a href="mailto:sitecorehabitat@gmail.com">
        <span class="c-theme-color">sitecorehabitat@gmail.com</span>
    </a>
    <br />
    Github:
    <a href="https://github.com/Sitecore/Habitat">
        <span class="c-theme-color">/Sitecore/Habitat</span>
    </a>
</p>
