@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Identity
@using Habitat.Identity.Repositories
@model Sitecore.Mvc.Presentation.RenderingModel

@{
    var identity = IdentityRepository.Get(Model.Item);
    if (identity == null)
    {
        return;
    }
}
<a href="/" class="c-logo">
    @Html.Sitecore().ImageField(Templates.Identity.Fields.Logo.ToString(), identity, mh:20)
</a>