@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Identity
@using Habitat.Identity.Repositories
@model Sitecore.Mvc.Presentation.RenderingModel

@{
    var identity = IdentityRepository.Get(Model.Item);
    if (identity == null)
    {
        return;
    }
}
<div class="logo pull-left">
    @*TODO: detect site root from settings*@
    <a class="navbar-brand" href="/">
        @Html.Sitecore().ImageField(Templates.Identity.Fields.Logo.ToString(), identity, mh: 20)
    </a>
</div>