<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Feature.Media" description="Feature Media" dependencies="Foundation.*" extends="Helix.Feature">
                    <predicate>
                        <include name="Settings" database="master" path="/sitecore/system/Settings/Feature/Media" />
                    </predicate>
                    <rolePredicate>
                        <include domain="modules" pattern="^Feature Media .*$" />
                    </rolePredicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>