<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Media" description="Feature Media" dependencies="Foundation.Serialization,Foundation.Assets" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\feature\media\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature.Media.Templates" database="master" path="/sitecore/templates/Feature/Media" />
            <include name="Feature.Media.Renderings" database="master" path="/sitecore/layout/renderings/Feature/Media" />
            <include name="Feature.Media.Settings" database="master" path="/sitecore/system/Settings/Feature/Media" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>