@using Sitecore.Feature.MultiSite
@using Sitecore.Mvc

@model Sitecore.Feature.MultiSite.Models.SiteDefinitions

@{
  if (Model.Sites.Count() <= 1)
  {
    return;
  }
  var currentSite = (Model.Current == null ? Request.Url?.Host : Model.Current.Name);
}

<li class="dropdown sites">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="@currentSite">
    <i class="fa fa-home"></i>
  </a>
  <ul class="dropdown-menu">
      @foreach (var site in Model.Sites)
      {
        <li><a href="@site.Url">@site.Name</a></li>
      }
  </ul>
</li>
