@using Sitecore.Foundation.SitecoreExtensions.Repositories
@model Sitecore.Feature.Search.Models.SearchSettings

<form action="@Model.SearchResultsUrl" method="GET">
  <div class="form-group">
    <div class="input-group">
      <input type="text" name="query" placeholder="@Model.SearchBoxTitle" value="@Model.Query" class="form-control" autocomplete="off" />
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </div>
  <button type="submit" class="btn btn-default">@DictionaryRepository.Get("/search/facets/Update", "Update")</button>
</form>