<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.FAQ" description="Feature FAQ" dependencies="Foundation.*" extends="Helix.Feature">
            <predicate>
            <include name="Feature.FAQ.Media" database="master" path="/sitecore/media library/Feature/FAQ" />
          </predicate>
            <rolePredicate>
            <include domain="modules" pattern="^Feature FAQ .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>