<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.FAQ" description="Feature FAQ" dependencies="Foundation.Serialization"
                       patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\feature\faq\serialization"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature.FAQ.Templates" database="master"
                     path="/sitecore/templates/Feature/FAQ" />
            <include name="Feature.FAQ.Renderings" database="master"
                     path="/sitecore/layout/renderings/Feature/FAQ" />
            <include name="Feature.FAQ.Media" database="master" path="/sitecore/media library/Feature/FAQ" />
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.ReverseHierarchyRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\feature\faq\serialization\Feature.FAQ.Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="modules" pattern="^Feature FAQ .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>