<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Habitat.Navigation" description="Habitat Navigation" patch:after="configuration[@name='Habitat.Framework.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\domain\navigation\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true"/>
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Habitat.Navigation.Templates" database="master" path="/sitecore/templates/Habitat/Domain/Navigation"/>
            <include name="Habitat.Navigation.Renderings" database="master" path="/sitecore/layout/renderings/Habitat/Domain/Navigation"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
