<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="webeditcustom:editallfields" type="Sitecore.Foundation.FieldEditor.Infrastructure.EditAllFieldsCommand, Sitecore.Foundation.FieldEditor"/>
    </commands>
  </sitecore>
</configuration>