<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Foundation.FieldEditor" description="Foundation FieldEditor" dependencies="Foundation.Serialization,Foundation.SitecoreExtensions" extends="Helix.Foundation">
                    <predicate>
                        <include name="WebEdit.FieldEditorAll" database="core" path="/sitecore/content/Applications/WebEdit/Default Rendering Buttons/Edit Item" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>