<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.FieldEditor" description="Foundation FieldEditor" dependencies="Foundation.Serialization,Foundation.SitecoreExtensions" extends="Helix.Foundation">
            <predicate>
            <include name="Foundation.SitecoreExtensions.WebEdit.FieldEditorAll" database="core" path="/sitecore/content/Applications/WebEdit/Default Rendering Buttons/Edit Item"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>