<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.FieldEditor" description="Foundation FieldEditor" dependencies="Foundation.Serialization,Foundation.SitecoreExtensions" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\foundation\fieldeditor\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Foundation.SitecoreExtensions.WebEdit.FieldEditorAll" database="core" path="/sitecore/content/Applications/WebEdit/Default Rendering Buttons/Edit Item"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>