@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{ var useStaticPlaceholderNames = MainUtil.GetBool(Model.Rendering.Parameters[Sitecore.Habitat.Website.Constants.LayoutParameters.UseStaticPlaceholderNames], false); }
<div class="container@(MainUtil.GetBool(Model.Rendering.Parameters[Sitecore.Habitat.Website.Constants.LayoutParameters.IsFluid], false) ? "-fluid" : "" )">
  <div class="row">
    <div class="col-md-2 col-sm-6">
      @Html.Sitecore().DynamicPlaceholder("col-narrow-1", useStaticPlaceholderNames)
    </div>
    <div class="col-md-2 col-sm-6">
      @Html.Sitecore().DynamicPlaceholder("col-narrow-2", useStaticPlaceholderNames)
    </div>
    <div class="col-md-4 col-sm-6">
      @Html.Sitecore().DynamicPlaceholder("col-narrow-3", useStaticPlaceholderNames)
    </div>
    <div class="col-md-4 col-sm-6">
      @Html.Sitecore().DynamicPlaceholder("col-narrow-4", useStaticPlaceholderNames)
    </div>
  </div>
</div>