@using DynamicPlaceholders.Mvc.Extensions
@using Sitecore
@model Sitecore.Mvc.Presentation.RenderingModel
<div class="container@(MainUtil.GetBool(Model.Rendering.Parameters[Sitecore.Habitat.Website.Constants.LayoutParameters.IsFluid], false) ? "-fluid" : "" )">
  <div class="row">
    <div class="col-lg-9">
      @Html.Sitecore().DynamicPlaceholder("sidebarcontent")
    </div>
    <div class="col-lg-3">
      @Html.Sitecore().DynamicPlaceholder("sidebar")
    </div>
  </div>
</div>