@using System.Web.UI.WebControls
@using Sitecore
@using Sitecore.Data.Items
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Infrastructure
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel

<section class="section section-full @Model.Rendering.GetBackgroundClass()">
  @Html.Sitecore().DynamicPlaceholder("section", Model.Rendering.GetUseStaticPlaceholderNames())
</section>