<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Kamsar.WebConsole" version="1.2.2.0" targetFramework="net46" />
  <package id="MicroCHAP" version="1.2.2.2" targetFramework="net46" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net46" developmentDependency="true" />
  <package id="Rainbow" version="1.4.0" targetFramework="net46" />
  <package id="Rainbow.Core" version="1.4.0" targetFramework="net46" />
  <package id="Rainbow.Storage.Sc" version="1.4.0" targetFramework="net46" />
  <package id="Rainbow.Storage.Yaml" version="1.4.0" targetFramework="net46" />
  <package id="Sitecore.Analytics.Model.NoReferences" version="8.2.160729" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.Analytics.NoReferences" version="8.2.160729" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.Kernel.NoReferences" version="8.2.160729" targetFramework="net46" developmentDependency="true" />
  <package id="Unicorn" version="3.3.1" targetFramework="net46" />
  <package id="Unicorn.Core" version="3.3.1" targetFramework="net46" />
  <package id="Unicorn.Roles" version="3.3.1" targetFramework="net46" />
  <package id="Unicorn.Roles.Core" version="3.3.1" targetFramework="net46" />
  <package id="Unicorn.Users" version="3.3.1" targetFramework="net46" />
  <package id="Unicorn.Users.Core" version="3.3.1" targetFramework="net46" />
</packages>