<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Kamsar.WebConsole" version="2.0.0" targetFramework="net462" />
  <package id="MicroCHAP" version="1.2.2.2" targetFramework="net462" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.3" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Net.Compilers" version="1.3.2" targetFramework="net462" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="Remotion.Linq" version="2.1.1" targetFramework="net462" />
  <package id="Sitecore.Analytics.Core.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Analytics.Model.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Analytics.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Analytics.XConnect.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Framework.Conditions" version="1.1.12" targetFramework="net462" />
  <package id="Sitecore.Kernel.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Marketing" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Marketing.Core" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Marketing.Taxonomy" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Client.Configuration.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Client.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Collection.Model.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Diagnostics.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Search" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Search.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Segmentation.Conditions.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Segmentation.Engine.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Segmentation.ExpressionBuilder.Model.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Segmentation.Predicates.Model.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Segmentation.Predicates.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Xdb.MarketingAutomation.Tracking.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Xdb.ReferenceData.Core" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="System.Collections" version="4.0.11" targetFramework="net462" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net462" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net462" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net462" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net462" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net462" />
  <package id="System.Interactive.Async.Providers" version="3.1.1" targetFramework="net462" />
  <package id="System.Linq" version="4.1.0" targetFramework="net462" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net462" />
  <package id="System.Linq.Queryable" version="4.0.1" targetFramework="net462" />
  <package id="System.ObjectModel" version="4.0.12" targetFramework="net462" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net462" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="net462" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net462" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net462" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net462" />
  <package id="System.Threading" version="4.0.11" targetFramework="net462" />
</packages>