<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.Analytics.Model.NoReferences" version="8.2.160729" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.Analytics.NoReferences" version="8.2.160729" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.Kernel.NoReferences" version="8.2.160729" targetFramework="net46" developmentDependency="true" />
  <package id="Unicorn.Roles" version="3.3.0-RC9" targetFramework="net46" />
  <package id="Unicorn.Roles.Core" version="3.3.0-RC9" targetFramework="net46" />
  <package id="Unicorn.Users" version="3.3.0-RC9" targetFramework="net46" />
  <package id="Unicorn.Users.Core" version="3.3.0-RC9" targetFramework="net46" />
</packages>