<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <setting patch:instead="setting[@name='Analytics.Patterns.MinimalProfileScoreCount']" name="Analytics.Patterns.MinimalProfileScoreCount" value="1" />
        </settings>
        <pipelines>
            <initialize>
                <processor type="Sitecore.Feature.Demo.Pipelines.RegisterWebApiRoutes, Sitecore.Feature.Demo" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
            </initialize>
            <startAnalytics>
                <processor type="Sitecore.Feature.Demo.Pipelines.FakeTrackerData, Sitecore.Feature.Demo" method="GetFakeTrackerData" patch:before="processor[@type='Sitecore.Analytics.Pipelines.StartAnalytics.StartTracking, Sitecore.Analytics']" />
                <processor type="Sitecore.Feature.Demo.Pipelines.FakeTrackerData, Sitecore.Feature.Demo" method="SetFakeTrackerData" patch:after="processor[@type='Sitecore.Analytics.Pipelines.StartAnalytics.StartTracking, Sitecore.Analytics']" />
            </startAnalytics>
        </pipelines>

    </sitecore>
</configuration>