<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Demo" description="Feature Demo"
                       patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\feature\demo\serialization"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature.Demo.Templates" database="master" path="/sitecore/templates/Feature/Demo"/>
            <include name="Feature.Demo.Renderings" database="master" path="/sitecore/layout/renderings/Feature/Demo"/>
            <include name="Feature.Demo.Layouts" database="master" path="/sitecore/layout/layouts/Feature/Demo"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>