<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Demo" description="Feature Demo" dependencies="Foundation.*" extends="Helix.Feature">
            <predicate>
            <include name="Feature.Demo.Layouts" database="master" path="/sitecore/layout/layouts/Feature/Demo" />
            <include name="Feature.Demo.Media" database="master" path="/sitecore/media library/Feature/Demo" />
          </predicate>
            <rolePredicate>
            <include domain="modules" pattern="^Feature Demo .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>