@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Search
@using Sitecore.Data.Items
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var item = Html.Sitecore().CurrentRendering.Item;
    if (!item.IsDerived(Templates.SearchResults.ID))
    {
        return;
    }
}
<form class="c-quick-search" action="@item.Url()">
    <input type="text" name="query" placeholder="@item[Templates.SearchResults.Fields.SearchBoxTitle]" value="" class="form-control" autocomplete="off">
    <span class="c-theme-link">×</span>
</form>