@using Habitat.Framework.SitecoreExtensions.Extensions
@using Sitecore.Data.Items
@using Sitecore.Mvc.Presentation
@model Habitat.Search.Models.SearchResults
<div class="search-results">
    @foreach (var result in Model.Results)
    {
        var item = result.GetItem();
        <div class="result">
            <h3>
                @result.Title
            </h3>
            <div class="tags">
                <span class="label label-default">@result.ContentType</span>
            </div>
            <div class="description">
                @result.Description
                <a href="@item.Url()">read more...</a>
            </div>
        </div>
    }
</div>