<form class="c-quick-search" action="#">
    <input type="text" name="query" placeholder="Type to search..." value="" class="form-control" autocomplete="off">
    <span class="c-theme-link">×</span>
</form>