<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="ContentSearch.ParallelIndexing.Enabled" value="true" />
    </settings>
    <habitat>
      <indexing defaultProvider="fallback">
        <providers>
          <add name="fallback"
               type="Sitecore.Framework.Indexing.Infrastructure.FallbackIndexContentProvider, Sitecore.Framework.Indexing" />
        </providers>
      </indexing>
    </habitat>
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration
          type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <fields hint="raw:AddComputedIndexField">
            <field fieldName="has_presentation" storageType="no" indexType="untokenized">Sitecore.Framework.Indexing.Infrastructure.HasPresentationComputedField, Sitecore.Framework.Indexing</field>
            <field fieldName="all_templates" storageType="no" indexType="untokenized">Sitecore.Framework.Indexing.Infrastructure.AllTemplatesComputedField, Sitecore.Framework.Indexing</field>
          </fields>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>