<div class="row">
    <div class="col-sm-4">
        @Html.Sitecore().Placeholder("column1")
    </div>
    <div class="col-sm-4">
        @Html.Sitecore().Placeholder("column2")
    </div>
    <div class="col-sm-4">
        @Html.Sitecore().Placeholder("column3")
    </div>
</div>
