<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Feature.Teasers" description="Feature Teasers" dependencies="Foundation.*" extends="Helix.Feature">
                    <predicate>
                        <include name="Settings" database="master" path="/sitecore/system/settings/Feature/Teasers" />
                    </predicate>
                    <rolePredicate>
                        <include domain="modules" pattern="^Feature Teasers .*$" />
                    </rolePredicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>