<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Teasers" description="Feature Teasers" dependencies="Foundation.*" extends="Helix.Feature">
            <predicate>
            <include name="Feature.Teasers.Settings" database="master" path="/sitecore/system/settings/Feature/Teasers" />
            <include name="Feature.Teasers.Media" database="master" path="/sitecore/media library/Feature/Teasers" />
          </predicate>
            <rolePredicate>
            <include domain="modules" pattern="^Feature Teasers .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>