<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Teasers" description="Feature Teasers" dependencies="Foundation.Serialization,Foundation.Indexing" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\feature\teasers\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature.Teasers.Templates" database="master" path="/sitecore/templates/Feature/Teasers" />
            <include name="Feature.Teasers.Renderings" database="master" path="/sitecore/layout/renderings/Feature/Teasers" />
            <include name="Feature.Teasers.Settings" database="master" path="/sitecore/system/settings/Feature/Teasers" />
            <include name="Feature.Teasers.Media" database="master" path="/sitecore/media library/Feature/Teasers" />
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.ReverseHierarchyRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\feature\teasers\serialization\Feature.Teasers.Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="modules" pattern="^Feature Teasers .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>