<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Habitat.EmotionAware" description="Habitat EmotionAware"
                       patch:after="configuration[@name='Habitat.Framework.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\domain\emotionaware\serialization"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Habitat.EmotionAware.Templates" database="master"
                     path="/sitecore/templates/Habitat/Domain/EmotionAware" />
            <include name="Habitat.EmotionAware.Analytics" database="master"
                     path="/sitecore/system/Marketing Control Panel/Goals/Habitat" />
            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>