@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.StandardContent
@model Sitecore.Mvc.Presentation.RenderingModel

<div class="article image">
    @Html.Sitecore().ImageField(Templates.HasImage.Fields.Image.ToString(), @Model.Item, mw: 700, cssClass: "img-responsive")
</div>