@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.StandardContent
@model Sitecore.Mvc.Presentation.RenderingModel

@if (!Sitecore.Context.PageMode.IsPageEditor && !Html.Sitecore().HasValue(Templates.HasImage.Fields.Image.ToString())) { return; }

<div class="c-margin-b-40">
    @Html.Sitecore().ImageField(Templates.HasImage.Fields.Image.ToString(), @Model.Item, mw: 840, cssClass: "img-responsive")
</div>