@using Habitat.StandardContent
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel

<div class="article summary">
    @Html.Sitecore().Field(Templates.HasSummary.Fields.Summary.ToString())
</div>