@using Habitat.StandardContent
@model Sitecore.Mvc.Presentation.RenderingModel

<div class="c-page-title c-pull-left">
    <h1 class="c-font-uppercase c-font-bold">
        @Html.Sitecore().Field(Templates.HasTitle.Fields.Title.ToString())
    </h1>
</div>

