@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.StandardContent
@model Sitecore.Mvc.Presentation.RenderingModel

@{
    var section = Model.Item.GetAncestorOrSelfOfTemplate(Templates.HasTitle.ID);
    if (section == null)
    {
        return;
    }
}

<div class="c-page-title c-pull-left">
    <h1 class="c-font-uppercase c-font-bold">
        @Html.Sitecore().Field(Templates.HasTitle.Fields.Title.ToString(), @section)
    </h1>
</div>

