@using Habitat.StandardContent
@model Sitecore.Mvc.Presentation.RenderingModel

<div class="teaser">
    <h4>@Html.Sitecore().Field(Templates.HasTitle.Fields.Title.ToString(), Model.Item)</h4>
    <p>@Html.Sitecore().Field(Templates.HasSummary.Fields.Summary.ToString(), Model.Item)</p>
    @Html.Sitecore().Field(Templates.HasLink.Fields.Link.ToString(), Model.Item)
</div>