@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.StandardContent
@model Sitecore.Mvc.Presentation.RenderingModel


<div class="panel panel-default teaser">
    <div class="panel-heading">
        <h3 class="teaser-heading">
            @Html.Sitecore().Field(Templates.HasTitle.Fields.Title.ToString(), Model.Item)
        </h3>
    </div>
    <div class="panel-body">
        <div class="teaser-text">
            @Html.Sitecore().Field(Templates.HasSummary.Fields.Summary.ToString(), Model.Item)
        </div>
    </div>
    <div class="panel-footer">
        @Html.Sitecore().Field(Templates.HasLink.Fields.Link.ToString(), Model.Item, new
   {
       @class = "btn btn-info"
   })
    </div>
</div>
