@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.StandardContent
@model Sitecore.Mvc.Presentation.RenderingModel


<div class="c-content-feature-1">
    @Html.Sitecore().ImageField(Templates.HasImage.Fields.Image.ToString(), Model.Item, mh: 60)
    <h3 class="c-font-uppercase c-font-bold">
        @Html.Sitecore().Field(Templates.HasTitle.Fields.Title.ToString(), Model.Item)            
    </h3>
    <p class="c-font-thin">
        @Html.Sitecore().Field(Templates.HasSummary.Fields.Summary.ToString(), Model.Item)
    </p>
    @Html.Sitecore().Field(Templates.HasLink.Fields.Link.ToString(), Model.Item, new {@class = "btn btn-md c-btn-border-1x c-theme-btn c-btn-uppercase c-btn-square c-btn-bold c-read-more" })
</div>