<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="sitecorediff" type="Sitecore.Update.Configuration.ConfigReader, Sitecore.Update"/>
    <section name="rainbow" type="Sitecore.Courier.Rainbow.Configuration.RainbowConfigSection, Sitecore.Courier"/>
  </configSections>
  <rainbow>
    <serializationFormatter type="Rainbow.Storage.Yaml.YamlSerializationFormatter, Rainbow.Storage.Yaml">
      <fieldFormatter type="Rainbow.Formatting.FieldFormatters.MultilistFormatter, Rainbow"/>
      <fieldFormatter type="Rainbow.Formatting.FieldFormatters.XmlFieldFormatter, Rainbow"/>
      <fieldFormatter type="Rainbow.Formatting.FieldFormatters.CheckboxFieldFormatter, Rainbow"/>
    </serializationFormatter>
  </rainbow>
  <sitecorediff>
    <commandfilters>
      <filter id="changedFieldsFilter" mode="on" type="Sitecore.Update.Commands.Filters.ChangedFieldsFilter, Sitecore.Update">
        <fields hint="list">
          <field>__Created</field>
          <field>{5DD74568-4D4B-44C1-B513-0AF5F4CDA34F}</field>
          <field>__Revision</field>
          <field>__Updated</field>
          <field>__Updated by</field>
        </fields>
      </filter>
      <filter id="fileCommandFilter" mode="on" type="Sitecore.Courier.FileCommandsFilter, Sitecore.Courier">
      </filter>
    </commandfilters>
    <dataproviders>
      <dataprovider id="rainbowprovider" type="Sitecore.Courier.Rainbow.RainbowSerializationProvider, Sitecore.Courier">
        <param>$(id)</param>
      </dataprovider>
      <dataprovider id="filesystemmain" type="Sitecore.Courier.FileSystemProvider, Sitecore.Courier">
        <param>$(id)</param>
      </dataprovider>
      <dataprovider id="snapshotprovider" type="Sitecore.Update.Data.Providers.SnapShotProvider, Sitecore.Update">
        <param>$(id)</param>
      </dataprovider>
    </dataproviders>

    <source type="Sitecore.Update.Data.DataManager, Sitecore.Update">
      <param>source</param>
      <path/>
      <serializationPath/>
      <dataprovider id="FileSystemMain"/>
    </source>

    <target type="Sitecore.Update.Data.DataManager, Sitecore.Update">
      <param>target</param>
      <path/>
      <serializationPath/>
      <dataprovider id="FileSystemMain"/>
    </target>
  </sitecorediff>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
