@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Media
@model RenderingModel

@{
    const int thumbnailWidth = 200;
    var thumbnail = Html.Sitecore().ImageField(Templates.HasMedia.Fields.Thumbnail.ToString(), @Model.Item, mw: thumbnailWidth, cssClass: "img-responsive");
    if (thumbnail == null || string.IsNullOrWhiteSpace(thumbnail.ToString()))
    {
        return;
    }
}

<div class="article image">
    <a href="@Model.Item.LinkFieldUrl(Templates.HasMediaVideo.Fields.VideoLink)" data-title="@Model.Item[Habitat.Media.Templates.HasMedia.Fields.Title]" data-footer="@Html.Encode(Html.Sitecore().Field(Templates.HasMedia.Fields.Description.ToString(), Model.Item))" data-toggle="lightbox" class="lightbox">
        @thumbnail
    </a>
</div>