<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.News" description="Feature News" dependencies="Foundation.*" extends="Helix.Feature">
          <predicate>
            <include name="Feature.News.Media" database="master" path="/sitecore/media library/Feature/News" />
          </predicate>
            <rolePredicate>
            <include domain="modules" pattern="^Feature News .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>