

@import "bootstrap/dropdowns";


.dropdown, .dropup {
  &-header {
      font-size: 16px;
      color: $brand-primary;
  }

  &-toggle {
    margin-bottom: 0 !important;
  }

  &.open {
    .dropdown-toggle {
      background-color: rgba(0,0,0,0.2);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#20000000', endColorstr='#20000000');
    }
    & > a {
      & > .caret {
        transform: rotate(180deg);
        -ms-transform: rotatet(180deg);
      }
    }
  }

  &-menu {
    .bg-primary &, .bg-dark &, .bg-media & {
      color: $text-color;
    }
    li {
      a {
        padding: 3px 20px;
        font-weight: normal;
        color: $text-color;

        &:hover {
          text-decoration: underline;
          background-color: transparent;
        }
      }
    }
  }
}

.caret {
  margin-left: 10px;
}
