$tooltip-bg: $color-secondary-dark;
$tooltip-arrow-color: $tooltip-bg;

@import "bootstrap/tooltip";

.tooltip {
  &-inner {
    padding: 6px 12px;
    .bg-dark & {
      background-color: $brand-primary;
      color: #FFF;
    }
  }

  &.top {
    .tooltip-arrow {
      .bg-dark & {
        border-top-color: $brand-primary;
      }
    }
  }
  &.bottom {
    .tooltip-arrow {
      .bg-dark & {
        border-bottom-color: $brand-primary;
      }
    }
  }
  &.left {
    .tooltip-arrow {
      .bg-dark & {
        border-left-color: $brand-primary;
      }
    }
  }
  &.right {
    .tooltip-arrow {
      .bg-dark & {
        border-right-color: $brand-primary;
      }
    }
  }
}
