<!--
	Rainbow.config

	This file configures the Rainbow serialization library
	
	This file should be present on all environments Rainbow is present on. 
	
	http://github.com/kamsar/Rainbow
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
	<settings>
		<!--  Rainbow - SERIALIZATION FOLDER PATH MAX LENGTH
		  In Windows, there is 248 characters limit on the lenght of file system paths. To avoid exceeding the maximum path length, Rainbow will loop
				  long paths back to the root. This setting specifies the maximum length of the path to the serialization root path,
				  which determines how long item paths can be before they are looped.
		  Important: The value of this setting must be the same on all Sitecore instances accessing the serialized data. 
		  Important: When changing this value, you must reserialize all configurations!
		  Example: A value of "90" for this setting will mean that item paths longer than 150 characters will be shortened, since Sitecore 
		  reserves 8 characters (and 248 - 8 - 90 = 150). 
		  Default value: 90
		-->
		<setting name="Rainbow.SFS.SerializationFolderPathMaxLength" value="90" />

		<!--  Rainbow MAX ITEM NAME LENGTH BEFORE TRUNCATION
			Sitecore item names can become so long that they will not fit on the filesystem without hitting the max path length.
					This setting controls when Rainbow truncates item file names that are extremely long so they will fit on the filesystem.
					The value must be less than MAX_PATH - SerializationFolderPathMaxLength - Length of GUID - length of file extension.
			Default value: 100
		-->
		<setting name="Rainbow.SFS.MaxItemNameLengthBeforeTruncation" value="100" />
	</settings>
  </sitecore>
</configuration>
