<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events timingLevel="custom">
      <event name="publish:end">
        <handler type="Sitecore.Feature.Sitemap.SitemapManager.SitemapHandler, Sitecore.Feature.Sitemap" method="RefreshSitemap" />
      </event>
    </events>
    <sitemapVariables>
      <sitemapVariable name="xmlnsTpl" value="http://www.sitemaps.org/schemas/sitemap/0.9" />
      <sitemapVariable name="database" value="web" />
      <sitemapVariable name="sitemapConfigurationItemPath" value="/sitecore/system/Modules/Sitemap/Sitemap Configuration" />
      <sitemapVariable name="sitemapIndexFilename" value="sitemap.xml" />
      <sitemapVariable name="indexName" value="sitemap_web" />
     
    </sitemapVariables>
    <linkManager>
      <providers>
        <add name="sitecore">
          <patch:attribute name="addAspxExtension">false</patch:attribute>
          <patch:attribute name="languageEmbedding">never</patch:attribute>
        </add>
      </providers>
    </linkManager>
    <!--For SEO purpose, we might want to replace space in url with hyphen.
    Remove below encodeNameReplacements if we do not want to do so.
    Note that if we replace space with hyphen in url then content item name should not have hyphen.
    We can do so by either adjust InvalidItemNameChars settings (as below) or writing Item Name rule not to allow hyphen for item name if the item is content item.-->
    <encodeNameReplacements>
      <replace mode="on" find=" " replaceWith="-" />
    </encodeNameReplacements>

    <!--Index for content items-->
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="sitemap_web" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <!-- This initializes index property store. Id has to be set to the index id -->
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration" />
            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
            </strategies>
            <commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
              <policies hint="list:AddCommitPolicy">
                <policy type="Sitecore.ContentSearch.ModificationCountCommitPolicy, Sitecore.ContentSearch">
                  <Limit>300</Limit>
                </policy>
              </policies>
            </commitPolicyExecutor>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content</Root>
              </crawler>
            </locations>
            <enableItemLanguageFallback>false</enableItemLanguageFallback>
            <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
            <!--
            <shardingStrategy type="Sitecore.ContentSearch.LuceneProvider.Sharding.LucenePartitionShardingStrategy, Sitecore.ContentSearch.LuceneProvider">
              <param desc="shardDistribution">4</param>
            </shardingStrategy>
            -->

            <!--
            <shardFolders hint="raw:AddShardFolderPath">
              <shard shardName="shard1" shardRootFolderPath="c:\Data\Indexes" />
              <shard shardName="shard2" shardRootFolderPath="c:\Data\Indexes" />
              <shard shardName="shard3" shardRootFolderPath="c:\Data\Indexes" />
            </shardFolders>
            -->
          </index>
        </indexes>
      </configuration>
    </contentSearch>

  </sitecore>
</configuration>