<form>
    <div class="form-group">
        <label for="forgotPasswordUsername">User name</label>
        <input type="text" class="form-control" id="forgotPasswordUsername" placeholder="User name">
    </div>
    <div class="separator">
        or
    </div>
    <div class="form-group">
        <label for="forgotPasswordEmail">E-mail</label>
        <input type="password" class="form-control" id="forgotPasswordEmail" placeholder="Password">
    </div>
    <button type="button" class="btn btn-link">Forgot you password or user name?</button>
    <button type="submit" class="btn btn-default">Reset Password</button>
    <div class="help-block">The new password will be sent to you e-mail.</div>
</form>