<form>
    <div class="form-group">
        <label for="registerEmail">E-mail</label>
        <input type="email" class="form-control" id="registerEmail" placeholder="E-mail">
    </div>
    <div class="form-group">
        <label for="registerName">Name</label>
        <input type="email" class="form-control" id="registerName" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="registerPassword">Password</label>
        <input type="password" class="form-control" id="registerPassword" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="registerPassword">Confirm Password</label>
        <input type="password" class="form-control" id="registerConfirmPassword" placeholder="Confirm Password">
    </div>
    <button type="submit" class="btn btn-default">Register</button>
</form>