<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
	  <settings></settings>
    <pipelines>

      
    
      <mvc.getModel>
        <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetModel.GetFromItem, Sitecore.Mvc']"  type="Glass.Mapper.Sc.Pipelines.Response.GetModel, Glass.Mapper.Sc.Mvc"/>
        <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetModel.GetFromItem, Sitecore.Mvc']"  type="Glass.Mapper.Sc.Pipelines.Response.GetModelFromView, Glass.Mapper.Sc.Mvc"/>
      </mvc.getModel>
      <getChromeData>
        <processor type="Glass.Mapper.Sc.Pipelines.GetChromeData.EditFrameBuilder, Glass.Mapper.Sc"
                   patch:before="processor[1]" />
      </getChromeData>
    </pipelines>
    <events>
      <event name="publish:end">
        <handler type="Glass.Mapper.Sc.Events.PublishEnd.GlassCacheClear, Glass.Mapper.Sc" method="ClearCache" />
      </event>
      <event name="publish:end:remote">
        <handler type="Glass.Mapper.Sc.Events.PublishEnd.GlassCacheClear, Glass.Mapper.Sc" method="ClearCache" />
      </event>
    </events>
  </sitecore>
</configuration>
