<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <settings>
            <setting name="Foundation.ReCaptcha.Sitekey" value="6LeYNx0TAAAAAM5o86DlvSMR4xSCyu5pz7O0jujG" />
            <setting name="Foundation.ReCaptcha.Secret" value="6LeYNx0TAAAAAFfiFo8MmGjHhm3qyr47hhY-hRSB" />

            <setting name="Foundation.Invisible.ReCaptcha.Sitekey" value="6Len-DQUAAAAAIi1x4JVNBn9gd4Tb81Yr-twfjVv" />
            <setting name="Foundation.Invisible.ReCaptcha.Secret" value="6Len-DQUAAAAACTW_yPX7A5iwTppYMojUDxmNbc0" />
        </settings>
        <services>
            <configurator type="Sitecore.Foundation.ReCaptcha.Configuration.ServicesConfigurator, Sitecore.Foundation.ReCaptcha" />
        </services>
    </sitecore>
</configuration>