/// <reference path="bootstrap/_bootstrap.scss" />

#sidebar {
  .panel {
    border: 0;
  }
  .panel-title {
    font-weight: 200;
    font-size: 20px;
    display:block;
    width: 100%;
  }
  >.panel-group {
    >.panel {
      >.panel-heading {
        height: 40px;
        .panel-title {
          @extend .pull-left;
          text-transform: uppercase;
        }
        .stats {
          @extend .pull-right;
          font-size: 14px;
          color: $gray-lighter;
          vertical-align: top;
          .badge {
            font-size: 12px;
            vertical-align: top;
            background-color: $gray-lighter;
          }
          .glyphicon {
            padding-left: 2px;
            padding-right: 4px;
          }
        }
      }
      .panel-group {
        margin-bottom: 5px;
        .panel-heading {
          .panel-title {
            .expand-icon {
              @extend .glyphicon-chevron-down;
              @extend .pull-right;
              color: $gray-light;
              font-size: 14px;
              display: block;
              padding-top: 5px;
            }
            .badge {
              background-color: $gray-light;
              padding-bottom: 2px;
            }
            &.collapsed {
              .expand-icon {
                @extend .glyphicon-chevron-up;
              }
            }
          }
        }
      }
    }
  }
}

/****************
  Sidebar display
****************/
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 0;
  top:0;
  width: 275px;
  height: 100%;
  margin-right: -250px;
  overflow: hidden;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

  #sidebar {
    position: relative;
    width: 250px;
    height: 100%;
    left: 25px;
    background-color: $panel-default-heading-bg;
    h1, h2, h3, h4 {
      margin: 0 0 0 0;

    }
  }

  > .sidebar-toggle {
    position: absolute;
    bottom: $line-height-base + em;
    color: $brand-info;
  }

  &.toggled {
    right: 250px;
    #sidebar {
      -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
      -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
      box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
    }
  }
}
