/// <reference path="bootstrap/_bootstrap.scss" />

/****************
    NAVIGATION
****************/
.secondarymenu {
  > .panel-heading {
    font-weight: 700;

    a, a:hover {
      background-color: transparent;
      color: $brand-primary;
      text-decoration: none;
    }
  }

  > .panel-body {
    padding: 0;

    > .list-group {
      .list-group-item {
        &.active {
          background-color: transparent;
          color: $brand-primary;
        }

        &:hover {
          background-color: transparent;
          color: $brand-primary;
        }
      }

      > .list-group-item {
        padding-left: $padding-large-horizontal;

        &.active {
          font-weight: 700;
        }
      }

      > .list-group {
        > .list-group-item {
          padding-left: 2*$padding-large-horizontal;
        }

        > .list-group {
          > .list-group-item {
            padding-left: 3*$padding-large-horizontal;
          }
        }
      }
    }

    .list-group {
      margin-bottom: 0;

      a {
        border: 0;
      }
    }
  }
}

.topbar {
  .nav {
    padding-top: 10px;

    .divider > a:before {
      content: "|\00A0";
      padding: 0 5px 0 0;
    }

    > li {
      > a {
        padding: 0 10px 0 0;
        color: $gray-light;
        font-size: $font-size-small;

        .fa {
          text-align: center;
          width: 1em;
        }
      }

      > a:hover, a:focus {
        background-color: inherit;
        color: $brand-primary;
      }
    }

    > li:first-of-type {
      > a:before {
        content: none;
      }
    }
  }
}

#primary-navigation {
  > .primary-nav {
    @extend .navbar-right;

    @media (min-width: $grid-float-breakpoint) {
      > li > a {
        padding-bottom: 40px;
      }
    }

    li {
      > a {
        text-transform: uppercase;
        font-weight: 600;
        color: $gray-light;
      }

      > a:hover {
        color: $brand-primary;
        background: none;
        box-shadow: none;
      }

      &.active, &.open {
        > a, > a:hover, > a:focus {
          background: none;
          box-shadow: none;
          color: $brand-primary;
        }
      }
    }

    @media (min-width: $grid-float-breakpoint) {
      .dropdown-menu {
        padding-top: 10px;
        padding-bottom: 10px;
        box-shadow: none;
        border: none;
        background-color: $gray-dark;

        > li {
          > a {
            padding-top: 5px;
            padding-bottom: 5px;
            line-height: $line-height-computed;
            font-weight: inherit;
            color: $gray-lighter;
            text-align: right;
          }

          > a:hover {
            color: $brand-primary;
          }
        }
      }

      .caret {
        display: none;
      }
    }
    /* Toggle on hover (large screens only) */
    @media (min-width: $grid-float-breakpoint) {
      .dropdown:hover .dropdown-menu {
        display: block;
      }
    }
  }
}

