/// <reference path="bootstrap/_bootstrap.scss" />

/********************
    NEWS
*********************/
.newslist {
  > .media-list {
    .media {
      margin-bottom: 4*$padding-large-vertical;

      h3 {
        text-transform: uppercase;
        margin-top: 0;

        a {
          color: $gray-darker;

          &:hover {
            color: $brand-primary;
          }
        }
      }

      .media-left {
        padding-right: 30px;
      }

      .metadata {
        margin-top: 2*$padding-large-vertical;
        min-height: 40px;

        > .panel-body {
          padding: 5px 5px 5px 10px;

          > .date {
            @extend small;
          }

          > .labels {
            .label {
              border-radius: 0;
              margin-right: 5px;
              text-transform: uppercase;
              font-weight: 300;
            }
          }
        }
      }
    }
  }

  > nav {
    text-align: center;

    .pagination {
      li.active {
        a {
          color: $btn-primary-color;
        }
      }

      a {
        width: 40px;
        height: 40px;
        text-align: center;
        display: inline-block;
        padding: 7px 4px 6px;
        border-radius: 40px;
        border: 1px solid #EEE;
        margin-right: 4px;
        color: $text-color;
      }
    }
  }
}

.latest-news {
  ul.media-list {
    .media {
      .media-left, .media-right {
        img {
          border-radius: 50%;
        }
      }
    }
  }
}
