<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <events>
            <event name="item:added">
                <handler type="Sitecore.Foundation.LocalDatasource.Infrastructure.Events.UpdateLocalDatasourceReferences, Sitecore.Foundation.LocalDatasource" method="OnItemAdded" />
            </event>
            <event name="item:copied">
                <handler type="Sitecore.Foundation.LocalDatasource.Infrastructure.Events.UpdateLocalDatasourceReferences, Sitecore.Foundation.LocalDatasource" method="OnItemCopied" />
            </event>
        </events>

        <pipelines>
            <getRenderingDatasource>
                <processor type="Sitecore.Foundation.LocalDatasource.Infrastructure.Pipelines.GetLocalDatasourceLocation, Sitecore.Foundation.LocalDatasource" patch:before="processor[@type='Sitecore.Pipelines.GetRenderingDatasource.CheckDialogState, Sitecore.Kernel']" />
            </getRenderingDatasource>
            <indexing.getDependencies>
                <processor type="Sitecore.Foundation.LocalDatasource.Infrastructure.Pipelines.GetLocalDatasourceDependencies, Sitecore.Foundation.LocalDatasource" />
            </indexing.getDependencies>
        </pipelines>
        <settings>
            <setting name="Foundation.LocalDatasource.LocalDatasourceFolderName" value="_Local" />
            <setting name="Foundation.LocalDatasource.LocalDatasourceFolderTemplate" value="{FFF5F245-FFC0-4022-A998-9B07AA5E761F}" />
        </settings>
        <contentSearch>
            <indexConfigurations>
                <defaultSolrIndexConfiguration>
                    <fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
                        <fieldNames hint="raw:AddFieldByFieldName">
                            <field fieldName="local_datasource_content" returnType="string" />
                        </fieldNames>
                    </fieldMap>
                    <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                        <fields hint="raw:AddComputedIndexField">
                            <field fieldName="local_datasource_content" storageType="no" indexType="tokenized">Sitecore.Foundation.LocalDatasource.Infrastructure.Indexing.LocalDatasourceContentField, Sitecore.Foundation.LocalDatasource</field>
                        </fields>
                    </documentOptions>
                </defaultSolrIndexConfiguration>
            </indexConfigurations>
        </contentSearch>
        <solutionFramework>
            <indexing>
                <providers>
                    <add name="localdatasource" type="Sitecore.Foundation.LocalDatasource.Infrastructure.Indexing.LocalDatasourceQueryPredicateProvider, Sitecore.Foundation.LocalDatasource" patch:before="add[@name='fallback']" />
                </providers>
            </indexing>
        </solutionFramework>
    </sitecore>
</configuration>