<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.LocalDatasource" description="Foundation Local Datasource" dependencies="Foundation.Serialization, Foundation.Indexing" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\foundation\localdatasource\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Foundation.LocalDatasource.Templates" database="master" path="/sitecore/templates/Foundation/LocalDatasource" />
            <include name="Foundation.LocalDatasource.Templates.RenderingOptionsField" database="master" path="/sitecore/templates/System/Layout/Sections/Rendering Options/Editor Options/Supports Local Datasource">
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>