<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.37.0" targetFramework="net46" />
  <package id="AutoFixture.AutoMoq" version="3.36.9" targetFramework="net46" />
  <package id="AutoFixture.AutoNSubstitute" version="3.37.0" targetFramework="net46" />
  <package id="AutoFixture.Xunit2" version="3.36.9" targetFramework="net46" />
  <package id="FluentAssertions" version="4.0.1" targetFramework="net46" />
  <package id="Moq" version="4.1.1308.2321" targetFramework="net46" />
  <package id="NSubstitute" version="1.5.0.0" targetFramework="net46" />
  <package id="Sitecore.FakeDb" version="0.34.0" targetFramework="net46" />
  <package id="Sitecore.FakeDb.AutoFixture" version="0.34.0" targetFramework="net46" />
  <package id="xunit" version="2.1.0" targetFramework="net46" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net46" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net46" />
  <package id="xunit.core" version="2.1.0" targetFramework="net46" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net46" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net46" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net46" />
</packages>