<!--
	Unicorn.Users.DataProvider.config

	This file configures the Unicorn users event handlers. The events write updated serialized users to disk when they are changed or added.

	This file should be removed in ANY deployed instance (CE or CD) that does not act as a source for serialized role updates.
	Generally speaking that's anywhere other than a developer workstation, so your CI process (you have one, right?) should remove this file during the build.

	http://github.com/kamsar/Unicorn
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<events>
			<event name="user:created">
				<handler type="Unicorn.Users.Events.UnicornUsersEventHandler, Unicorn.Users" method="UserCreated" />
			</event>
			<event name="user:deleted">
				<handler type="Unicorn.Users.Events.UnicornUsersEventHandler, Unicorn.Users" method="UserRemoved" />
			</event>
			<event name="user:updated">
				<handler type="Unicorn.Users.Events.UnicornUsersEventHandler, Unicorn.Users" method="UserUpdated" />
			</event>
			<event name="roles:usersAdded">
				<handler type="Unicorn.Users.Events.UnicornUsersEventHandler, Unicorn.Users" method="RoleReferenceUpdated" />
			</event>
			<event name="roles:usersRemoved">
				<handler type="Unicorn.Users.Events.UnicornUsersEventHandler, Unicorn.Users" method="RoleReferenceUpdated" />
			</event>
		</events>
	</sitecore>
</configuration>
