<!--
	Unicorn.Roles.config
	
	Configures Unicorn to be capable of syncing security roles as well as Sitecore items.
	See Unicorn.Configs.Default.Roles.config.example for details of how to include roles and how they sync.

	This file should be present on all environments where Unicorn will be expected to sync roles.
	Normally this would be development and Content Editing (CE) environments.
	It should not hurt anything if left in a CD environment, but it may be removed.
	
	http://github.com/kamsar/Unicorn
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<defaults>
				<!-- Note: do not colocate serialized items and serialized roles in the same folder -->
				<roleDataStore type="Unicorn.Roles.Data.SerializedRoleDataStore, Unicorn.Roles" physicalRootPath="$(dataFolder)\Unicorn\Unicorn.Roles\$(configurationName)" singleInstance="true"/>
				<roleLoader type="Unicorn.Roles.Loader.ReverseHierarchyRoleLoader, Unicorn.Roles" singleInstance="true" />
				<roleLoaderLogger type="Unicorn.Roles.Loader.DefaultRoleLoaderLogger, Unicorn.Roles" singleInstance="true" />
			</defaults>
		</unicorn>

		<pipelines>
			<unicornSyncComplete>
				<processor type="Unicorn.Roles.Pipelines.UnicornSyncComplete.SyncRoles, Unicorn.Roles" />
			</unicornSyncComplete>
			<unicornReserializeComplete>
				<processor type="Unicorn.Roles.Pipelines.UnicornReserializeComplete.ReserializeRoles, Unicorn.Roles" />
			</unicornReserializeComplete>
		</pipelines>
	</sitecore>
</configuration>