<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <pipelines>
            <getRenderingDatasource>
                <processor type="Sitecore.Foundation.Multisite.Pipelines.GetDatasourceLocationAndTemplateFromSite, Sitecore.Foundation.Multisite" patch:after="processor[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']" />
            </getRenderingDatasource>
            <getLookupSourceItems>
                <processor type="Sitecore.Foundation.Multisite.Pipelines.ProcessSiteSource, Sitecore.Foundation.Multisite" patch:before="processor[@type='Sitecore.Pipelines.GetLookupSourceItems.ProcessDefaultSource, Sitecore.Kernel']"/>        
            </getLookupSourceItems>
            <httpRequestBegin>
                <!--Fix of switching to default site instead of one matched by domain-->
                <processor type="Sitecore.ExperienceEditor.Pipelines.HttpRequest.ResolveContentLanguage, Sitecore.ExperienceEditor">
                    <patch:attribute name="type" value="Sitecore.Foundation.Multisite.Pipelines.ResolveContentLanguage, Sitecore.Foundation.Multisite" />
                </processor>
            </httpRequestBegin>
        </pipelines>
        <commands>
            <command name="multisite:createdatasourcesetting" type="Sitecore.Foundation.Multisite.Commands.CreateRenderingSettings, Sitecore.Foundation.Multisite" />

            <!--Fix of switching to default site instead of one matched by domain-->
            <command name="webedit:openexperienceeditor" type="Sitecore.Shell.Applications.WebEdit.Commands.OpenExperienceEditor, Sitecore.ExperienceEditor">
                <patch:attribute name="type" value="Sitecore.Foundation.Multisite.Commands.OpenExperienceEditor, Sitecore.Foundation.Multisite" />
            </command>
        </commands>
        <settings>
            <setting name="Foundation.Multisite.DatasourceDialogRoot" value="/sitecore/layout/renderings" />
            <setting name="Preview.ResolveSite">
                <patch:attribute name="value" value="true" />
            </setting>
        </settings>
        <services>
            <configurator type="Sitecore.Foundation.Multisite.ServicesConfigurator, Sitecore.Foundation.Multisite" />
        </services>
    </sitecore>
</configuration>