<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Foundation.Assets" description="Foundation Assets" dependencies="Foundation.Serialization" extends="Helix.Foundation">
                    <predicate>
                        <include name="SystemViewRendering" database="master" path="/sitecore/templates/System/Layout/Renderings/View rendering">
                            <exclude children="true" />
                        </include>
                        <include name="SystemControllerRendering" database="master" path="/sitecore/templates/System/Layout/Renderings/Controller rendering">
                            <exclude children="true" />
                        </include>
                        <include name="Themes" database="master" path="/sitecore/system/Settings/Project/Themes">
                            <exclude children="true" />
                        </include>
                    </predicate>

                    <rolePredicate>
                        <include domain="modules" pattern="^$(layer) $(module) .*$" />
                    </rolePredicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>