<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">roles" singleInstance="true"/>
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Assets" description="Foundation Assets" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\foundation\assets\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Foundation.Assets.Templates" database="master" path="/sitecore/templates/Foundation/Assets" />
            <include name="Foundation.Assets.SystemViewRendering" database="master" path="/sitecore/templates/System/Layout/Renderings/View rendering">
              <exclude path="/sitecore/templates/System/Layout/Renderings/View rendering/" />
            </include>
            <include name="Foundation.Assets.SystemControllerRendering" database="master" path="/sitecore/templates/System/Layout/Renderings/Controller rendering">
              <exclude path="/sitecore/templates/System/Layout/Renderings/Controller rendering/" />
            </include>
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.ReverseHierarchyRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\foundation\assets\serialization\Foundation.Assets.Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="modules" pattern="^Foundation Assets .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>