<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Foundation.Installer.MongoRestore.MongoRestoreProcessor, Sitecore.Foundation.Installer" patch:before="processor[1]" />
      </initialize>
    </pipelines>
    <settings>
      <setting name="Sitecore.Foundation.Installer.RestoreMongo" value="true"/>
    </settings>
  </sitecore>
  
</configuration>