.bg {
  &-primary {
    background-color: $brand-primary !important;
    color: $brand-text-color !important;
  }
  &-secondary {
    background-color: $color-secondary !important;
    color: $brand-text-color;
    &-dark {
      color: $brand-text-color !important;
      background-color: $color-secondary-dark !important;
      p {
        opacity: 0.4;
        &.lead {
          opacity: 1;
        }
      }
    }
    &-light {
      color: $brand-text-color;
      background-color: $color-secondary-light !important;
    }
    &-lighter {
      color: $brand-text-color;
      background-color: $color-secondary-lighter !important;
    }
  }
  &-white {
    background-color: $bg-white-bg;
    color: $bg-white-color;
  }
  &-black {
    background-color: $bg-black-bg;
    color: $bg-black-color;
  }
  &-dark {
    background-color: $color-secondary-dark;
    color: $brand-text-color;
  }
  &-transparent {
    background-color: transparent !important;
    color: $brand-text-color;

    a, p, h1, h2, h3, h4, h5, h6, i {
      color: $brand-text-color !important;
    }

    .dropdown-menu, .mega-dropdown-menu {
      a, h1, h2, h3, h4, h5, h6, p, i {
        color: $text-color !important;
      }
    }
  }

  &-media {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    color: $brand-text-color;
    position: relative;
    overflow: hidden;
    &:after {
      content:' ';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $bg-media-overlay-color;
      opacity: 0.6;
      z-index: 0;
    }

    /*&-overlay {
      &-dark {
        position: relative;

        & > * {
          z-index: 2;
          position: relative;
        }

      }
    }*/

    & > * {
      z-index: 1;
      position: relative;
    }

    & > .video-bg {
      position: absolute;
      top:0;
      left:0;
      min-width: 100%;
      min-height: 100%;
      height: auto;
      width: auto;
      z-index: 0;
    }
  }

  &-parallax {
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }


  &-primary, &-secondary, &-dark, &-media {
    color: $brand-text-color;
     & .dropdown-menu:not(.bg-primary):not(.bg-secondary):not(.bg-dark):not(.bg-media), {
      color: $text-color !important;
      .btn {
        &-default {
          color: $text-color !important;
          border-color: $text-color !important;
        }
      }
    }
  }
}

.pull {
  &-right {
    &-lg {
      @media all and (min-width: $screen-lg-min) {
        float: right;
      }
    }
  }
  &-left {
    &-lg {
      @media all and (min-width: $screen-lg-min) {
        float: left;
      }
    }
  }
}

.row {

  &-vertical-align {
    display: table;
    table-layout: fixed;
    width: 100%;

    [class^="col-"], [class*="col-"] {
      display: table-cell;
      vertical-align: middle;
      float: none;
    }
  }

  &-no-gutter {
    [class^="col-"], [class*="col-"] {
      padding: 0 !important;
    }
  }
}