<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  

  <appSettings>
    <add key="baseUrl" value="http://habitat.test5ua1.dk.sitecore.net" />
    <add key="GettingStartedPageUrl" value="/About-Habitat/Getting-Started" />
    <add key="testsProxyUrl" value="/tests.proxy.asmx" />
    <add key="utfProxyUrl" value="/HelperWebService.asmx" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="Sitecore.Foundation.Common.Specflow" />
    </stepAssemblies>
    
    
    
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="xUnit" /></specFlow>
</configuration>