<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>   
    <unicorn>
      <configurations>
        <configuration name="Feature.Maps" description="Feature Maps"
                       patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\feature\maps\serialization"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature.Maps.Templates" database="master"
                     path="/sitecore/templates/Feature/Maps" />
            <include name="Feature.Maps.Renderings" database="master"
                     path="/sitecore/layout/renderings/Feature/Maps" />         
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>