<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HelperWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://habitat.test5ua1.dk.sitecore.net/HelperWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="HelperWebServiceSoap"
                contract="UtfService.HelperWebServiceSoap" name="HelperWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>