@using Sitecore.Feature.Maps
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Repositories
@model Sitecore.Mvc.Presentation.RenderingModel

<div class="map">
    @if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
      <div class="thumbnail">
        <img src="http://maps.googleapis.com/maps/api/staticmap?size=640x360" class="img-responsive" />
        <div class="caption">
          <small>@DictionaryRepository.Get("/maps/map/pageedit", "Map is disabled in the Experience Editor")</small>
        </div>
      </div>
    }
    else
    {
      <div class="map-container">
        <input type="hidden" id="mapContextItem" name="mapContextItem" value="@Model.Rendering.Item.ID" />
        <input type="hidden" id="mapRenderingParameters" name="mapRenderingParameters" value="@Model.Rendering.Parameters.ToJson()" />
        <div class="map-canvas"></div>
      </div>
    }
</div>