@using Habitat.Feature.Maps
@using Sitecore.Mvc.Presentation
@model dynamic
<input type="hidden" id="googleMapApiKey" value="@ConfigSettings.GoogleMapApiKey"/>
<input type="hidden" id="mapContextItem" name="mapContextItem" value="@RenderingContext.Current.Rendering.Item.ID"/>
<div class="map-container"></div>