@using Sitecore.Feature.Maps
@using Sitecore.Mvc.Presentation
@model RenderingModel

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">@Html.Sitecore().Field(Templates.MapPoint.Fields.Name_FieldName, Model.Item)</h3>
  </div>
  <div class="panel-body">
    <address>@Html.Sitecore().Field(Templates.MapPoint.Fields.Address_FieldName, Model.Item)</address>
    <span>@Html.Sitecore().Field(Templates.MapPoint.Fields.Latitude_FieldName, Model.Item) @Html.Sitecore().Field(Templates.MapPoint.Fields.Longitude_FieldName, Model.Item)</span>
  </div>
</div>
