@using Habitat.Feature.Maps
@model IEnumerable<Sitecore.Data.Items.Item>
@if (Sitecore.Context.PageMode.IsPageEditor)
{
  if (Model == null)
  {
    <h1>Datasource has not been set</h1>
  }
  else if (!Model.Any())
  {
    <h1>No data</h1>
  }
}
@foreach (var item in Model)
{
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">@Html.Sitecore().Field(Templates.MapPoint.Fields.Name_FieldName, item)</h3>        
      </div>
      <div class="panel-body">
        <address>@Html.Sitecore().Field(Templates.MapPoint.Fields.Address_FieldName, item)</address>
        <span>@Html.Sitecore().Field(Templates.MapPoint.Fields.Latitude_FieldName, item) @Html.Sitecore().Field(Templates.MapPoint.Fields.Longitude_FieldName, item)</span>
      </div>
    </div>
}