@model Habitat.Person.Models.Employee
<h2>Employee teaser</h2>
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        @Model.Person.Picture
        <div class="caption">
            <h3>
                @Model.Person.Name
            </h3>
            <p>@Model.Person.Title</p>
            @*<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>*@
            <p>@Model.Description</p>
        </div>
    </div>
</div>