<?xml version="1.0"?>

<!--
	SYNTHESIS STARTUP CHECKS
	
	This configuration registers the Synthesis startup checks capabilities, which enable automatic detection of a desynchronized model on application start,
	and in some cases automatic rebuilding of the model.
	
	You can safely delete this file for Content Delivery instances, as well as Content Editing instances if you do not wish to check sync status on startup.
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<initialize>
				<processor type="Synthesis.Pipelines.Initialize.CheckModelSynchronization, Synthesis">
					<!--  STARTUP CHECK MODE
						Controls how the application manages synchronization when it starts
						Requires registration of the Synthesis.StartupSynchronizationModule HTTP module to work
					
						Valid values:
						- Off - do not check model synchronization on startup
						- Log - writes warning events to the Sitecore log if the model is not current
						- Regenerate - attempts to automatically resync the model without user interaction (see also StartupRegenerateProjectPath)
					
						WARNING: If you have mode set to Regenerate, and your generation settings don't cause a synchronized model to be generated,
						you will send IIS into an infinite loop (as the regeneration causes an app pool restart, which then regenerates again because
						it's still not synchronized). An easy way to do this is to have the wrong assemblies passed to the type list provider, or the generated
						files not included in the project. As a general rule start with Log and get it working before using Regenerate.
					-->
					<StartupCheckMode>Log</StartupCheckMode>
				</processor>
			</initialize>
		</pipelines>
	</sitecore>
</configuration>