<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<mvc.getModel>
				<!-- Enables injecting Synthesis model types into View Renderings automatically -->
				<processor type="Synthesis.Mvc.Pipelines.GetModel.GetFromSynthesis, Synthesis.Mvc" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.GetModel.CreateDefaultRenderingModel, Sitecore.Mvc']"/>
			</mvc.getModel>
			
			<mvc.getRenderer>
				<!-- 
					Injects diagnostic HTML comments around MVC renderings (e.g. timings, output caching settings, start/end of markup)
					This function turns off automatically when debug compilation is turned off in the web.config
				-->
				<processor type="Synthesis.Mvc.Pipelines.GetRenderer.RenderingDiagnosticsInjector, Synthesis.Mvc" />
			</mvc.getRenderer>

			<mvc.renderRendering>
				<!-- Prevents an invalid model type from crashing the whole page -->
				<processor type="Synthesis.Mvc.Pipelines.RenderRendering.ResilientExecuteRenderer, Synthesis.Mvc" patch:instead="*[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc']">
					<!-- 
					OPTIONAL: Capture all exceptions on a view and render the specified partial view instead. View's model is Synthesis.Mvc.RenderingErrorModel 
					This will trap all errors thrown, whether in edit mode or not. The exceptions are written to the Sitecore logs automatically.
					If this is not set, exceptions that are not due to the model type in a rendering will be thrown normally.
					Specify an ABSOLUTE view path including the cshtml for this.
					
					<ErrorViewPath>~/Views/ErrorTest.cshtml</ErrorViewPath>
					-->
					<!-- 
					OPTIONAL: Override invalid model type errors and render your own view instead of the default. View's model is Synthesis.Mvc.RenderingErrorModel 
					The exceptions are written to the Sitecore logs automatically.
					If this is not set, model type exceptions use Synthesis.Mvc.ViewErrorRenderer to generate a default model error message.
					Specify an ABSOLUTE view path including the cshtml for this.
					
					<ModelErrorViewPath>~/Views/ModelErrorTest.cshtml</ModelErrorViewPath>
					-->
				</processor>
			</mvc.renderRendering>
		</pipelines>
	</sitecore>
</configuration>