<?xml version="1.0"?>

<!--
	SYNTHESIS CONTROL PANEL
	
	This configuration registers the Synthesis control panel, used for initiating code generation and synchronization checks.
	
	You can safely delete this file for Content Delivery instances, as well as Content Editing instances if you do not wish to be able to check sync status.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<httpRequestBegin>
				<!-- 
					This pipeline handler shows the Synthesis control panel. You can customize the URL the control panel lives at by changing the activationUrl. 
					The activationUrl must be a URL that the Sitecore pipeline won't ignore (e.g. .aspx, .ashx, etc)
				-->
				<processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" type="Synthesis.ControlPanel.ControlPanelPipelineProcessor">
					<param desc="activationUrl">/synthesis.aspx</param>
				</processor>
			</httpRequestBegin>
		</pipelines>
	</sitecore>
</configuration>