$btn-border-radius-base: 20px;
$btn-border-radius-large: 30px;
$btn-border-radius-small: 15px;
$btn-primary-bg: $brand-primary;
$btn-primary-border: $brand-primary;
$btn-default-border: $color-secondary-dark;
$btn-default-color: $color-secondary-dark;
$btn-success-bg: $brand-success;
$btn-success-border: $brand-success;
$btn-info-bg: $brand-info;
$btn-info-border: $brand-info;
$btn-warning-bg: $brand-warning;
$btn-warning-border: $brand-warning;
$btn-danger-bg: $brand-danger;
$btn-danger-border: $brand-danger;


@import "bootstrap/buttons";


.btn {

  font-weight: bold;

  &:hover, &:focus {
    color: #FFF;
  }
  &[disabled] {
    &:hover, &:focus {
      color: currentColor !important;
    }
  }

  &-hollow {
    background-color: transparent;
    border: 2px solid #FFF;
    color: #FFF;
    position:relative;
    &:hover {
      background-color: #FFF;
      color: $text-color !important;
    }

  }

  &-default {
    border-width: 2px;
    background-color: transparent;

    .bg-white & {
      color: #000;
      border-color: #000;
      &:hover {
        background-color: #000;
        color: #FFF;
      }
    }

    .bg-primary &, .bg-dark &, .bg-media & {
      border-color: #FFF;
      color: #FFF;
      &:hover {
        background-color: #FFF;
        color: $text-color !important;
      }
    }

    &:hover {
      background-color: $color-secondary-dark;
      color: #FFF;
    }
  }

  &-lg {
    @media all and (max-width: $screen-xs-max) {
      font-size: 14px;
    }
  }

  &-xl {
    font-size: 20px;
    padding: 15px 35px;
  }

  &-social-icon {
    position:relative;

    span {
      float:right;
      color: #FFF;
      padding-left:0.9em;
    }
    &.btn {
      &-facebook {
        @include backgroundHoverLighten(#3b5998, 25%, true);
      }
      &-twitter {
        @include backgroundHoverLighten(#00aced, 25%, true);
      }
      &-youtube {
        @include backgroundHoverLighten(#bb0000, 25%, true);
      }
      &-instagram {
        @include backgroundHoverLighten(#125688, 25%, true);
      }
      &-google-plus {
        @include backgroundHoverLighten(#dd4b39, 25%, true);
      }
      &-linkedin {
        @include backgroundHoverLighten(#007bb6, 25%, true);
      }
    }
    .navbar & {
      background-color: transparent !important;
      color: #FFF;
    }
    i {
      color: #FFF;

      .bg-white & {
        color: #000;
      }
    }
  }
}

button {
  &.close {
    border: 2px solid $text-color;
    background-color: transparent;
  }
}
