<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <metadata.getPageMetadata>
                <processor type="Sitecore.Feature.Metadata.Infrastructure.Pipelines.GetPageMetadata.SetFromContext, Sitecore.Feature.Metadata" resolve="true"/>
                <processor type="Sitecore.Feature.Metadata.Infrastructure.Pipelines.GetPageMetadata.SetFromPage, Sitecore.Feature.Metadata" resolve="true"/>
                <processor type="Sitecore.Feature.Metadata.Infrastructure.Pipelines.GetPageMetadata.CombineTitle, Sitecore.Feature.Metadata" resolve="true"/>
            </metadata.getPageMetadata>
        </pipelines>

    </sitecore>
</configuration>