@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.ContentPage
@model Sitecore.Mvc.Presentation.RenderingModel

@if (!Sitecore.Context.PageMode.IsPageEditor && !Html.Sitecore().HasValue(Templates.HasPageContent.Fields.Image.ToString())) { return; }

<div class="article image">
    @Html.Sitecore().ImageField(Templates.HasPageContent.Fields.Image.ToString(), @Model.Item, mw: 1000, cssClass: "img-responsive")
</div>