@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{ var useStaticPlaceholderNames = MainUtil.GetBool(Model.Rendering.Parameters[Sitecore.Habitat.Website.Constants.LayoutParameters.UseStaticPlaceholderNames], false); }
<div class="row">
  <div class="col-md-4">
    @Html.Sitecore().DynamicPlaceholder("col-narrow-1", useStaticPlaceholderNames)
  </div>
  <div class="col-md-8">
    @Html.Sitecore().DynamicPlaceholder("col-wide-1", useStaticPlaceholderNames)
  </div>
</div>