@using Sitecore.Feature.Identity
@using Sitecore.Feature.Identity.Repositories
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Links
@model Sitecore.Mvc.Presentation.RenderingModel


@{
  var identity = IdentityRepository.Get(Model.Item);
  if (identity == null)
  {
    return;
  }
  //TODO: Resolve context site from item (implement in Foundation.Multisite)
  var homeUrl = Sitecore.Context.Site?.GetStartItem()?.GetUrl() ?? "/";
  var hasTagline = identity.FieldHasValue(Templates.Identity.Fields.LogoTagLine);
}

<a class="navbar-brand @(hasTagline ? "has-tagline" : "")" href="@homeUrl">
  <span class="logo">
    @Html.Sitecore().ImageField(Templates.Identity.Fields.Logo, identity)
    @if (hasTagline)
    {
      <small class="tagline">@Html.Sitecore().Field(Templates.Identity.Fields.LogoTagLine, identity)</small>
    }
  </span>
</a>
