<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net46" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.3" targetFramework="net46" />
  <package id="Microsoft.Net.Compilers" version="1.3.2" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.Analytics.NoReferences" version="8.2.170614" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.Analytics.Outcome.NoReferences" version="8.2.170614" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.Forms.Core.NoReferences" version="8.2.170413" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.Kernel.NoReferences" version="8.2.170614" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.WFFM.Abstractions.NoReferences" version="8.2.170413" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.WFFM.Actions.NoReferences" version="8.2.170413" targetFramework="net46" developmentDependency="true" />
</packages>