


.off-canvas-sidebar {
  z-index: 1032;
  display: inline-block;
  &-left {
    position: fixed;
    left: 0;
    top: 300px;
    .show-sidebar-left &{
      transition: all 0.4s ease;
      left: 320px;
    }
  }
  &-right {
    position: fixed;
    right: 0;
    top: 300px;
    .show-sidebar-right &{
      transition: all 0.4s ease;
      right: 320px;
    }
  }
}

.sidebar {
  background-color: $sidebar-bg;
  //padding: 20px;
  //border: 1px solid $sidebar-border-color;
  transition: all 0.4s ease;
  margin-bottom: 30px;

  .bg-primary &, .bg-dark &, .bg-media & {
    background-color: transparent;
    color: #FFF;
  }

  &.sidebar-fixed {
    &-left, &-right {
      height: 100%;
      position: fixed;
      top: 0;
      width: 320px;
      z-index: 1032;
      overflow-y: auto;
    }
    &-left {
      left: -320px;
      .show-sidebar-left & {
        left: 0;
      }
    }
    &-right {
      right: -320px;
      .show-sidebar-right & {
        right: 0;
      }
    }
  }

  .show-sidebar-left &.sidebar-fixed-left {
    left: 0;
  }
  .show-sidebar-right &.sidebar-fixed-right {
    right: 0;
  }

  &.sidebar-right {
    right: 0;
    left: auto;
  }

  .nav {
    li {
      a {
        padding-left: 0;
        color: $sidebar-nav-item-color;
        background-color: $sidebar-nav-item-bg;
        font-weight: normal;
        .bg-primary &, .bg-dark &, .bg-media & {
          color: #FFF;
        }
        &:hover {
          padding-left: 10px;
        }
      }
      &.active {
        a {
          color: $sidebar-nav-item-color-active;
          font-weight: 800;
          .bg-primary &, .bg-dark &, .bg-media & {
            color: #FFF;
          }
          &:hover {
            background-color: $sidebar-nav-item-bg;
          }
        }
      }

      &.open {
        & > .nav {
          max-height: 9999px;
        }
      }
    }
    .nav {
      border-left: 1px solid $sidebar-nav-item-border-color-active;
      padding-left: 15px;
      max-height: 0;
      overflow: hidden;
    }
  }
}
