<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <mvc.getPageRendering>
        <processor
          patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']"
          type="Sitecore.Framework.Assets.Pipelines.GetPageRendering.AddAssets, Sitecore.Framework.Assets">
          <defaultAssets hint="raw:AddAsset">
            <asset type="JavaScript" file="/Scripts/jquery-2.1.4.min.js" location="Head" />
            <asset type="JavaScript" file="/Scripts/bootstrap.min.js" location="Body" />
            <asset type="Css" file="/content/bootstrap.min.css" />
            <asset type="Css" file="/content/bootstrap-theme.min.css" />
          </defaultAssets>
        </processor>
      </mvc.getPageRendering>
    </pipelines>
  </sitecore>
</configuration>