$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-size-base: 16px;
$headings-font-weight: 600;
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

$brand-primary:         #428bca;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


@import 'bootstrap/_bootstrap.scss';

/****************
    GENERAL
****************/
body { 
  font-weight: 300;
}

 .container-fluid >.row >.col-md-12 {
    >.jumbotron, >.carousel
    {
        margin-left: -15px;
        margin-right: -15px;
    }
 }

/****************
    NAVIGATION
****************/
.navbar {
    background: none;
    border: none;
    box-shadow: none;
    .nav {
        li {
            >a{
                text-transform: uppercase;
                font-weight: 600;
                color: $gray-light;
            }
            >a:hover {
                color: $brand-primary;
                background: none;
                box-shadow: none;
            }
            &.active, &.open {
                >a, >a:hover, >a:focus {
                    background: none;
                    box-shadow: none;
                    color: $brand-primary;
                }
            }
        }
    }
    .primary-nav {
        @extend .navbar-right;
    }
    .primary-nav-additional {
        @extend .navbar-right;
    }
}


/****************
    FOOTER
****************/

footer {
    background-color: $well-bg;
    padding-top: $line-height-computed;
    .prefooter {
        .nav-pills {
            >li {
                width: 49%;
            }
        }
    }
}

/****************
    MEDIA
****************/
.carousel {
    margin-bottom: $line-height-computed;
    .carousel-inner {
        img { 
            width: 100%; 
        }
    }
}

.lightbox {
    &.thumbnail {
        position:relative;
        .overlay {
            top:0;
            left:0;
            position: absolute;
            padding-top: 10px;
            padding-left: 10px;
            font-size: 2rem;
            color: white;
        }
        a:hover {
            .overlay {
                color: silver;
            } 
        }
    }
}