@using Sitecore.Feature.Teasers
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel


<div class="panel panel-default teaser">
  @if (Model.Item.FieldHasValue(Templates.TeaserContent.Fields.Title) || Sitecore.Context.PageMode.IsPageEditor)
  {
	  <div class="panel-heading">
		  <h3 class="teaser-heading">
			  @Html.Sitecore().Field(Templates.TeaserContent.Fields.Title.ToString(), Model.Item)
		  </h3>
	  </div>
	}
	@if (Model.Item.FieldHasValue(Templates.TeaserContent.Fields.Summary) || Sitecore.Context.PageMode.IsPageEditor)
	{
	<div class="panel-body">
		<div class="teaser-text">
			@Html.Sitecore().Field(Templates.TeaserContent.Fields.Summary.ToString(), Model.Item)
		</div>
	</div>
	}
	@if (Model.Item.FieldHasValue(Templates.TeaserContent.Fields.Link) || Sitecore.Context.PageMode.IsPageEditor)
	{
	<div class="panel-footer">
		@Html.Sitecore().Field(Templates.TeaserContent.Fields.Link.ToString(), Model.Item, new
   {
	   @class = "btn btn-default"
   })
	</div>
	}
</div>