<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Project.Common.Website" description="Common content and settings" dependencies="Foundation.*,Feature.*" extends="Helix.Project">
                    <predicate>
                        <include name="Layouts" database="master" path="/sitecore/layout/layouts/Project/Common" />
                        <include name="PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/Common" />

                        <include name="Core.UserProfiles" database="core" path="/sitecore/system/Settings/Security/Profiles/Common" />
                        <include name="Media" database="master" path="/sitecore/media library/Project/Common" />

                        <include name="Metadata" database="master" path="/sitecore/system/settings/Feature/Metadata">
                            <exclude children="true" />
                        </include>

                        <include name="Themes" database="master" path="/sitecore/system/Settings/Project/Themes/Common" />

                        <include name="BucketSettings" database="master" path="/sitecore/system/Settings/Buckets/Item Buckets Settings" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>