<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Common.Website" description="Common content and settings" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\project\common\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Common.Website.Templates" database="master" path="/sitecore/templates/Project/Common" />
            <include name="Common.Website.Renderings" database="master" path="/sitecore/layout/renderings/Project/Common" />
            <include name="Common.Website.Layouts" database="master" path="/sitecore/layout/layouts/Project/Common" />
            <include name="Common.Website.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/Common" />

            <include name="Common.Website.UserProfiles" database="core" path="/sitecore/system/Settings/Security/Profiles/Common" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>