<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="rootHostName" value="sitecore.local" />
    <settings>
      <setting name="Analytics.CookieDomain" value="$(rootHostName)" />
    </settings>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site>
              <patch:delete/>
            </site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site>
              <patch:delete/>
            </site>
          </sites>
        </handler>
      </event>
    </events>
    <sites>
      <site name="website">
        <patch:delete/>
      </site>
    </sites>
    <cacheSizes>
      <sites>
        <website>
          <patch:delete />
        </website>
      </sites>
    </cacheSizes>
  </sitecore>
</configuration>
